[2016-11-09 07:35] octref opened #1 "Add snippet for v- directives"
- [x] https://vuejs.org/v2/api/ https://vuejs.org/v2/api/#Directives
- [x] Look for a way to enable snippets only on certain scope

[2016-11-09 07:42] octref opened #2 "Implement language server"
- [x] Use https://github.com/Microsoft/vscode-languageserver-node-example as a base
- [x] Update deps to use `TS^2.0.3`
- [x] Move `/extensions/html` to node example

[2016-11-09 17:18] mattjneuber opened #3 "Highlighting breaks with question marks in Vue template attributes"
[code]

produces [this output](http://i.imgur.com/FSG40ti.png)

Removing the ? from the expression immediately fixes the highlighting after it.

[2016-11-09 18:06] octref commented on #3
Thanks for reporting. Will take a look after work.

[2016-11-10 09:32] octref commented on #3
Upstream bug tracked at https://github.com/Microsoft/vscode/issues/15289
The last double quote get parsed as JavaScript double quote, so VSCode thought everything after it is a JavaScript string.

[2016-11-10 09:32] octref opened #4 "Adopt YAML syntax file"
Its syntax is much easier for editing and reading.

[2016-11-10 09:34] octref opened #5 "Snippet for API other than v- directives"
Low hanging fruit.

[2016-11-10 18:25] octref opened #6 "Support weex"

[2016-11-14 11:46] stackia commented on #2
非常期待！

[2016-11-14 21:37] octref commented on #1
Requires upstream change https://github.com/Microsoft/vscode/issues/15287

[2016-11-14 21:38] octref commented on #5
v- directives tracked in #1

[2016-11-15 00:09] octref commented on #2
Related upstream issue: https://github.com/Microsoft/vscode/issues/15377

[2016-11-16 17:57] rmtuckerphx opened #7 "SCSS Variables & Mixin Highlighting"
The highlighting doesn't work for SCSS for the following sample:

[code]

All shows formatted when in a .scss file

[2016-11-16 17:59] octref commented on #7
Can you post a screenshot? Works for me:

![image](https://cloud.githubusercontent.com/assets/4033249/20359123/4df16ee4-abe3-11e6-84f3-9064548b7553.png)

[2016-11-19 17:39] octref commented on #7
Will reopen if you can provide more info.

[2016-11-22 22:27] rmtuckerphx commented on #7
This is what mine screen looks like.

![scss-style](https://cloud.githubusercontent.com/assets/247472/20544611/282af894-b0c8-11e6-967b-3516c61f7138.JPG)

[2016-11-24 04:10] octref commented on #7
Do you have

[code]

in your user setting?

[2016-11-24 04:13] octref commented on #7
NVM, this extension only works for vue file. scss file error should be reported to https://github.com/Microsoft/vscode. Meanwhile you can turn off scss validation by:

[code]

[2016-11-24 04:13] #7 closed

[2016-11-25 07:03] yeluoqiuzhi opened #8 "I want to support typescript"
I want to support typescript

[2016-11-25 14:21] octref commented on #8
This supports TS's syntax highlighting. You should subscribe to this issue: https://github.com/vuejs/vue/issues/478

I won't be looking into other features for supporting TS until there is one official integration between TS+Vue.

[2016-11-25 14:21] #8 closed

[2016-11-29 03:37] kevinongko opened #9 "Template lang "pug""
allow the use of `<template lang="pug">` too

https://github.com/pugjs/pug/issues/2184

[2016-11-30 04:32] octref commented on #9
Thanks, will fix soon.

[2016-12-13 09:28] nor-bu opened #10 "autocomplete"
Is there a way to get a autocomplete html attributes, css/stylus attributes, js?

[2016-12-13 10:04] octref commented on #10
I'm working on it. I have a local branch that's almost there. Will push once I consider it done.

If you are asking for the way, I'm using vscode-textmate to get scope information to enhance the auto-completion.

[2016-12-13 10:04] #10 closed

[2016-12-13 10:04] nor-bu commented on #10
thanks

[2016-12-13 10:05] nor-bu commented on #10
which timeline you see for this?

[2016-12-13 10:07] octref commented on #10
One to two weeks.

[2016-12-13 10:07] nor-bu commented on #10
Ok thanks cool stuff
On Tue, 13 Dec 2016 at 11:07, Pine <notifications@github.com> wrote:

--
Mit freundlichen Grüssen

Aron Suarez

+41 79 839 03 85
aron@asate.com

Asate AG
Kürzestrasse 5
8716 Schmerikon
Switzerland

info@asate.ch
+41 43 497 27 27

[2016-12-14 08:02] CooHunter opened #11 "use ternary operators in <template>"
the text will be blood red.

[2016-12-14 08:22] octref commented on #11
Thanks, let me take a look.

[2016-12-15 16:35] hujianxin opened #12 "vscode 1.8 may help this project."
https://code.visualstudio.com/updates#_javascript-language-support-in-html

Vscode gets full JavaScript language support in HTML files. So this feature may help

[2016-12-15 22:48] octref commented on #12
Thanks, I'm aware of it and already made a prototype with its code.
Now I have a local implementation with a few bugs. I'll push once I consider it done. (Probably next 1-2 weeks). Stay tuned :-)

[2016-12-15 22:48] #12 closed

[2016-12-15 22:58] hujianxin commented on #12
@octref Thanks!

[2016-12-18 11:42] #3 closed

[2016-12-18 11:42] #11 closed

[2016-12-18 11:46] octref commented on #3
I just published a new version 0.1.1 including the fix.

However, this problem no longer exists on latest Insider (still repro on stable), so I guess they updated the JS grammar and fixed the problem. I'll look into it and see if I can also adopt that grammar.

[2016-12-18 11:47] octref commented on #11
Fixed in 0.1.1, more context see https://github.com/octref/vetur/issues/3#issuecomment-267816816

[2016-12-18 11:48] octref opened #13 "Look into adopting latest TS/JS grammar"
Seems ternary operator in vue-directive works with latest insider.

[2016-12-18 17:23] IAMJ commented on #13
这插件是针对 Vue 2 的？什么时候可以支持代码提示，现在 vue 文件里的 scss / js 等虽然有高亮但还是没有代码提示

[2016-12-19 00:21] octref commented on #13
@IAMJ It's for Vue 2. You can track progress in #2.

[2016-12-19 14:00] #9 closed

[2016-12-19 14:03] octref commented on #9
Sorry it took me so long...Busy for other stuff.
It's actually a really easy fix. I just released 0.1.2 which should solve your problem.

[2016-12-21 03:16] jing2si opened #14 "emmet for css/sass/scss/less/stylus"
This plugin is the best in the vue plugin.
Whether emmet can support css/sass/scss/less/stylus.

[2016-12-21 09:12] octref commented on #14
Thanks, I'll take a look once I'm done with the language server.

[2017-01-03 06:35] octref commented on #2
Released 0.2 which adapted VSCode's html extension into a language server for Vue.

IntelliSense is now available to html/css/js/scss/less.

[2017-01-03 06:35] #2 closed

[2017-01-03 12:47] nizulzaim opened #15 "Support for word based suggestion"
Hi,

I notice that word based suggestion not enable in .vue file. Really hope it can be done by you as your work is really awesome!

[2017-01-03 13:00] octref commented on #15
I just released 0.2 which includes intelliSense (code completion) for html/css/scss/less/js. Have you upgraded yet?

Can you also clarify `word based suggestion`? Do you mean intelliSense (code completion), code action (red squiggles under words), or something else?

[2017-01-03 13:15] nizulzaim commented on #15
Hi, I already update but actually not all of code will include in intellisense. The alternative way is make it work after follow like this page settings tutorial so that every single word in page will display:

[https://code.visualstudio.com/docs/editor/intellisense](https://code.visualstudio.com/docs/editor/intellisense)

[2017-01-03 13:18] nizulzaim commented on #15
![screenshot from 2017-01-03 21-17-13](https://cloud.githubusercontent.com/assets/9782607/21608862/0d6b8b4c-d1fa-11e6-875e-896d1e31b5f7.png)

See here, when i try to type `this.activeId`, the suggestion will not show up.

[2017-01-03 13:34] nizulzaim commented on #15
ok actually i test more. and then found that only variable in scope can have suggestion. but not whole page. like in declare in data.

[2017-01-03 13:38] octref commented on #15
This extension was meant to provide semantically correct intelliSense -- same as VSCode's JS language service. Adding word-based intelliSense might help your case, but it reduces reliability of the intelliSense, as suggestions could be wrong. So I'm not sure that's the way to go.

With that said, I do have plan to eval the component (or analyze its AST) to find props/computed for enhanced intelliS

[2017-01-03 13:40] nizulzaim commented on #15
nice to hear that! Thanks. For now, i will just wait for it.

[2017-01-04 03:05] #15 closed

[2017-01-05 09:27] octref opened #16 "Diagnostics/error-checking/linting"
VSCode's html does have this capability, like marking errors for CSS in `<style>`.
Look into how to restore that and extend to SCSS/LESS regions.

[2017-01-06 07:20] yeluoqiuzhi commented on #2
How about ts in <script lang="typescript">?

[2017-01-06 08:36] octref commented on #2
@yeluoqiuzhi I don't think there is a standard way yet to use TS with Vue Single File Component.

[2017-01-06 08:39] yeluoqiuzhi commented on #2
yeah, so that we use seperated file, instead of Single file Component.
Just like [vue-class-component](https://github.com/vuejs/vue-class-component)

[2017-01-06 08:50] octref commented on #2
Aren't that just a TS file, where you don't even need `<script lang="typescript">`?

[2017-01-06 08:53] yeluoqiuzhi commented on #2
I want to write typescript in a Single File Component. Just use [vue-ts-loader](https://github.com/HerringtonDarkholme/vue-ts-loader)

[2017-01-06 09:15] octref commented on #2
I want to build better support for html/js/css/scss first, as these are the most popular ones.

The project you pointed to seems experimental. I won't spend time building support for it unless it gains traction.

[2017-01-07 01:14] kinanson opened #17 "support @types intellisense in the .vue file"
I hope can get typings like @types/jquery in the vue file.I can get this feature in the js file.but I can't trigger intellisense in the vue file.Will you support this?thank you and best regard

[2017-01-07 01:18] octref commented on #17
That's on the plan. Thanks for reporting.

[2017-01-07 13:27] kinanson opened #18 "Comment-toggling is not working"
I used ctrl+/ want to annotation that is wrong for template and I key like col-md-3 when key - intellisense hide and scss is the same.
can you fix that.
thank you.

[2017-01-07 15:12] octref commented on #18
Thanks for reporting. I'll take a look tomorrow.

[2017-01-10 11:00] octref commented on #18
There are some changes upstream to how the formatting is handled:

https://github.com/Microsoft/vscode/commits/master/extensions/html

I want to wait a bit before doing this, as VSCode is changing its mechanism for handling comment-toggling in embedded language.

[2017-01-11 23:05] kinanson commented on #18
I see.thank you.

[2017-01-13 14:33] kinanson commented on #17
Hello.I find another problem with vue file.I had install javascript snippet so I can get clg snippet or console intellisense.But I can't get this features in the vue associations.If I remove this settings and then console or clg(it's mean console.log())come back.can you fix this?Because I like this tool can help me scss in the vue file.So I hope this plugins can better then now.
thank you a lot.

[2017-01-13 18:44] nexus-uw opened #19 "syntax highlighting breaks after type casting"
![screen shot 2017-01-13 at 1 40 56 pm](https://cloud.githubusercontent.com/assets/3188890/21941292/0aa57bd6-d996-11e6-86d4-4e29ad76b999.png)

In the above screenshot, the syntax highlighting is broken after the ```<Thing>``` typecasting

My machine
OS: macOS
VScode: 1.8.1

[2017-01-15 13:00] octref commented on #19
`lang="ts"` is marked as js now. Thanks for reporting. I'll push a fix soon.

[2017-01-16 04:23] sudo-suhas opened #20 "Use pugbeautify for formatting when lang=pug/jade"
Visual Studio Code version - 1.8.1
Platform - Windows 8
Vetur version - 0.2.0
Pug beautify version - 1.0.2

Format document option works fine for plain HTML but if I am trying to use `lang="pug"` for template, it garbles the template.

Before:
[code]

After:
[code]

I have installed pugbeautify but am not able to figure out how to delegate the document format to pugbeautify from .vue files.

[2017-01-16 07:43] #4 closed

[2017-01-16 07:57] #19 closed

[2017-01-16 07:58] octref commented on #19
I'll push 0.2.1 with the fix soon. Here is the effect.

![image](https://cloud.githubusercontent.com/assets/4033249/21974883/50b86a64-dc04-11e6-8e37-fa11427011bd.png)

[2017-01-16 07:59] octref commented on #2
@yeluoqiuzhi TS syntax highlighting is added, see #19. I'll see if I can do intelliSense later.

[2017-01-16 08:20] octref commented on #17
@kinanson Do you mean you want to use your JS snippets in `<script>` blocks?

[2017-01-16 08:29] octref commented on #20
Thanks for reporting, embedded formatter isn't supported yet.
I'll take a look after doing embedded error checking.

[2017-01-16 09:11] AimLuo opened #21 "vue scss no work"
Disabled vue-snippets，by HTML：
![image](https://cloud.githubusercontent.com/assets/21124342/21976191/9e4c94e2-dc0b-11e6-9d3e-b4b120a1370c.png)
Enabled vue-snippets，by HTML:
![image](https://cloud.githubusercontent.com/assets/21124342/21976230/d318d636-dc0b-11e6-9d8c-482846357609.png)
Enabled vue-snippets，by Vue：
![image](https://cloud.githubusercontent.com/assets/21124342/21976818/9950a7b4-dc0e-11

[2017-01-16 09:17] octref commented on #21
You need to have
[code]
in your user settings to use Vue syntax for .vue files.

What do you want for last image? Is `b1-solid-red` a class and you want emmet for it?

[2017-01-16 09:30] AimLuo commented on #21
I have added:
"files.associations": {
  "*.vue": "vue"
}
Syntax highlighting is working.
**YES!!!!  I NEED EMMET**

[2017-01-16 09:32] octref commented on #21
You can track emmet support in #14.

[2017-01-16 09:32] #21 closed

[2017-01-16 09:45] AimLuo commented on #21
thanks! I'll track at any time.

[2017-01-16 09:53] AimLuo commented on #21
don't add:
`"files.associations": {
  "*.vue": "vue"
}
 `
we can open vue file by html, and make Syntax highlighting in `<style lang=scss></style>`

[2017-01-16 10:35] octref commented on #21
"files.associations": { "*.vue": "vue" }
we can open vue file by html, and make Syntax highlighting in <style lang=scss></style>

No you can't. The extension Vue 2 Snippet doesn't support scss correctly I think. You need to disable it and add the file associations.

[2017-01-16 12:38] kinanson commented on #17
yes.

[2017-01-16 14:11] octref opened #22 "Enable snippet for different languages"

[2017-01-16 14:11] octref commented on #17
I'll track that in #22.

[2017-01-16 14:11] sudo-suhas commented on #20
Thanks. Much appreciated. :)

[2017-01-18 05:22] #6 closed

[2017-01-21 02:04] inJonathan opened #23 "Annotation in Vue template is not working"
Can you please use html syntactic annotation in the Vue \<template\> tag?
Now we used ctrl+/ in Vue \<template\> tag it show "//".

[2017-01-21 13:17] octref commented on #23
Dup of #18, see https://github.com/octref/vetur/issues/18#issuecomment-271546944.

I'm traveling a bit, will fix this next week once settled down.

[2017-01-21 13:17] #23 closed

[2017-01-25 15:22] jeromu opened #24 "ESLint stopped working - how to fix"
Hi,

Please add the following to the readme, as it affects users installing this extension who also uses ESLint.

After installing vetur, your .vue files will be mapped to 'vue' type in VSCode, which will break the eslint validation that you may already have for HTML files.

To fix that, add "vue" to the list of types to validate in your settings.json file:

[code]

Thanks

[2017-01-25 15:53] octref commented on #24
I think it's fine. vue files aren't natively supported in VSCode. Marking it as html to have validation isn't right in the first place.

[2017-02-01 15:30] #18 closed

[2017-02-01 15:35] octref commented on #18
@inJonathan @kinanson I published 0.2.2 which should fix it.

Comment-toggling now should work for all supported languages:
- html/jade/pug
- css/sass/scss/less/stylus
- js/ts

[2017-02-01 15:56] octref commented on #24
Actually you are right, sorry.

Seems most people are using ESlint for Vue files, so I'll add that to description.
Once I get linting for html/scss/less/css I'll push 0.3 and include a guide to configure linting.

[2017-02-01 16:33] blake-newman commented on #24
If you are using eslint extension there is now option to enable eslint of languages.

[code]
Release notes: https://marketplace.visualstudio.com/items?itemName=dbaeumer.vscode-eslint

Note if you are using newly updated `eslint-html-plugin` you will be able to autofix vue files aswell.
https://www.npmjs.com/package/eslint-plugin-html

[2017-02-01 17:20] octref commented on #24
@blake-newman

Thanks for bringing `eslint-plugin-html` up. `vetur` also splits the vue file into different regions. As ESLint is working for linting the js region, I'll work on getting validation for other regions.

[2017-02-02 03:03] #16 closed

[2017-02-02 03:03] #24 closed

[2017-02-02 03:05] octref commented on #24
Added ESLint part to readme. Also can error-check css/scss/less now in 0.3.

[2017-02-02 03:18] octref opened #25 "Disable css diagnostics for sass"

[2017-02-02 03:40] octref commented on #14
I added instruction in readme for setting up emmet in css/scss/less:

    "emmet.syntaxProfiles": {
      "vue": "css"
    }

Now you can use css expansions anywhere in your vue file. However, this isn't ideal. It doesn't limit css expansions to `<style>` tags. If you have `bg` in `<script>` section and pressed expand, it'll expand to `background` too.

I'll work on improving the language server t

[2017-02-02 03:40] #14 closed

[2017-02-02 03:42] octref commented on #22
Forget about user defined snippet. Just include everything in the `CompletionItemProvider`.

[2017-02-02 03:42] #22 closed

[2017-02-02 04:01] #1 closed

[2017-02-02 04:01] #5 closed

[2017-02-02 04:46] octref opened #26 "CompletionProvider / IntelliSense"
The current `CompletionProvider` based VSCode's html extension needs improvement.
This is to write a new `CompletionProvider` to satisfy the following goals:

- Scope based IntelliSense:
  Region-based IS is already there (css using css IS, js using js IS). Scope not yet. For example:
  `<span v-text="|"></span>` here it should suggest all possible values (props, computed props) for the current co

[2017-02-02 04:47] octref commented on #17
Original issue will be covered by #26.

[2017-02-02 04:47] #17 closed

[2017-02-02 11:23] SoullessWaffle commented on #26
Will this also allow for `ctrl+click`ing to go to definition to work? I noticed that this works in `.js` files but not `.vue` files (with vetur v0.3.0)

[2017-02-02 12:02] octref commented on #26
@SoullessWaffle Not yet. Will do that after this one.

[2017-02-03 17:02] victorwpbastos opened #27 "Use Handlebars as starter point"
I'm using VS Code built in Handlebars association for `.vue` files. It's working pretty well (Intellisense and autocomplete included), but comments. I guess would be much simpler use this as a starter point.

[2017-02-03 17:08] octref commented on #27
Handlebars support in VSCode is also based on the html extension. You can open another issue if you want any specific things for vue support.

[2017-02-03 17:08] #27 closed

[2017-02-04 04:12] aprilandjan opened #28 "color indicator not working in vue files"
in .scss file:
![image](https://cloud.githubusercontent.com/assets/7011247/22615598/de8665ee-ead2-11e6-9149-8cbf9ea58864.png)

in .vue file:
![image](https://cloud.githubusercontent.com/assets/7011247/22615607/19faf7b6-ead3-11e6-913f-bc141f5ea357.png)

[2017-02-04 05:27] octref commented on #28
Actually I don't like it and people are requesting options to disable it even in VSCode...https://github.com/Microsoft/vscode/issues/10943#issuecomment-277258939

I'll add an option if enough people want this.

[2017-02-04 15:24] octref commented on #13
Current grammar works fine.

[2017-02-04 15:24] #13 closed

[2017-02-05 03:44] #25 closed

[2017-02-06 13:55] gabrielboliveira opened #30 "User Snippets not loading correctly"
I've created my own snippet for Vue files, but using this plugin it doesn't load any suggestion. For example, adding this snippet configuration:

[code]

![user snippet](https://cloud.githubusercontent.com/assets/11093090/22649570/acd11cc4-ec62-11e6-81ea-460120ee2eb7.png)

Indeed, it doesn't show any snippet at all. Only when I manually add the `<template>`, `<script>` or `<style>` tags.

[2017-02-06 17:31] octref commented on #30
Alright, this will take a larger change on the grammar than I expected. But once it get fixed you should be able to use different snippets in each regions (vue, html, scss, less, js). Might take a few days as I'm busy.

[2017-02-07 12:59] gabrielboliveira commented on #28
As a WA to this, if anyone still wants to have colors on Vue files, install the [Color Highlight](https://github.com/sergiirocks/vscode-ext-color-highlight) plugin and add `"vue"` to the config:

[code]

![Example](https://cloud.githubusercontent.com/assets/11093090/22692094/83790f40-ed24-11e6-8d77-68176aa497f8.png)

[2017-02-07 13:01] iatsiuk commented on #28
Please add an option to enable color indicator.

[2017-02-09 09:11] wopian opened #31 "Nested SCSS elements are unstyled"
Using vetur 0.3.1

Nesting works on everything but a few elements. `div` is expected to be pink - like it's parent, but is displayed with no styling.

![](http://i.imgur.com/GJe6dkf.png)

[2017-02-09 09:17] wopian commented on #31
Turns out it's being caused by Color Highlight, where I had a colour reference on the line above before deleting it in example above.

https://gfycat.com/CheeryExhaustedAegeancat

[2017-02-09 09:22] wopian commented on #31
It seems to be the first child element doesn't get styled. When it gets pushed down to be the 2nd child it gets the correct styling - and the new first child is unstyled.

https://gfycat.com/PoorWindyDiplodocus

[2017-02-09 13:31] octref commented on #31
![image](https://cloud.githubusercontent.com/assets/4033249/22785416/2bbb502c-eea2-11e6-8632-d29565a0ce02.png)

This is default theme on 1.9 stable. Can you turn off other extensions that have anything to do with scss to find which one is causing this?

[2017-02-09 17:26] sebastiandedeyne commented on #26
Wouldn't this be impossible since you won't always be able to infer props from external sources like mixins?

[2017-02-09 21:51] octref commented on #26
@sebastiandedeyne Good question. That's doable if you find where the mixin is defined, evaluate(or interpret) it, and use that to do the diagnostics.

However, after looking into the problem, I feel that would take much effort for something not many people want. I'll just do IntelliSense first and look into this later.

A similar scenario would be vuex. I'll look into how you can suggest getters a

[2017-02-09 21:54] mattjneuber opened #32 "Vue highlighting support in Jade/Pug templates"
I noticed that in HTML, vetur provides nice Javascript syntax highlighting inside Vue directives and inside {{ }}, etc. in the template. Is there any way to make that also work when using Jade/Pug?

[2017-02-09 21:55] octref commented on #32
@mattjneuber Not yet. There is no implementation of a language server for Jade and I don't want to dilute my effort to write one for it. Sorry.

[2017-02-09 21:55] #32 closed

[2017-02-11 02:30] wopian commented on #31
Apologies for delay.

This is with all my current extensions enabled with my theme:
![](http://i.imgur.com/v14O7MA.png)

And this is with all but vetur disabled in the workspace using the default theme:
![](http://i.imgur.com/RvM4lgS.png)

`Notice.vue`
[code]

[2017-02-11 02:49] #31 closed

[2017-02-11 02:54] octref commented on #31
Couldn't believe the original grammar didn't cover single quote for lang attribute...
`<style lang='scss'>` literally wouldn't work.

Just published 0.3.2. Can you try upgrading?

[2017-02-11 03:05] wopian commented on #31
Works like a charm on 0.3.2. Never even thought of trying it with double quotes 😆

[2017-02-12 04:47] stealthybox commented on #31
@octref
Vetur's super useful! Pushed a couple of my teammates away from WebStorm because of the quality of this plugin.

I've been using vetur with single quotes for a few months now using a different grammar mod.

Basically instead of:
`(?:^\s+)?(<)((?i:template))\b(?=[^>]*lang=["'](jade|pug)(?:\?[^"]*)?["'])`
I do:
`(?:^\s+)?(<)((?i:template))\b(?=[^>]*lang=("(jade|pug)(?:\?[^"]*)?"))|('(jade|pu

[2017-02-12 05:04] octref commented on #31
@stealthybox I'm glad you like it, better things are yet to come, like vue API snippet in IntelliSense :D
Definitely let me know what features you & your teammates want. I don't have that much experience writing large Vue apps so I don't know some of the pain points.

Sure, go ahead and send a PR. Thanks for pointing out the bugs.

Just BTW, I'm also in the process of refactoring the grammar, main

[2017-02-12 05:13] octref commented on #31
@stealthybox I'll add CONTRIBUTING.md tomorrow morning to include instructions for running & debugging vetur. Maybe you want to wait until then.

[2017-02-12 05:14] octref opened #33 "Add contribution doc"

[2017-02-12 20:22] octref commented on #33
@stealthybox
Added CONTRIBUTING.md. Let me know if you need any help with the PR.

[2017-02-12 20:22] #33 closed

[2017-02-12 23:13] #30 closed

[2017-02-12 23:17] octref commented on #30
With the next version you can:
- Use Vue snippet outside `<template>`, `<style>`, and `<script>`
- Use each language's snippet, like scss snippet in `<style lang="scss">`

You won't be able to use html snippet yet, as I'm thinking about introducing vue-html as a new language to give it better syntax highlight / IntelliSense.

[2017-02-12 23:19] octref opened #34 "Improve vue-html grammar"
Or look into just using VSCode's html.

[2017-02-13 02:30] octref opened #35 "Fix vue's yaml grammar single/double quote"
`lang="jade'` is still valid in the current vue.yaml grammar.

@stealthybox if you still want to give it a try.

[2017-02-13 05:03] octref opened #36 "Follow Vue's SFC spec"
The new grammar doesn't handle a few cases for SFC yet.

https://vue-loader.vuejs.org/en/start/spec.html

Especially important are scoped/module style block, src import, postcss, and comment.

[2017-02-13 06:01] wopian opened #37 "SASS highlighted with CSS grammar"
VSCode: 1.9.1
vetur: 0.3.2

Was just messing around with a test project and discovered that SASS is being highlighted with the CSS grammar instead of SASS - even though the correct grammar is defined

![](http://i.imgur.com/NsyThHi.png)

[code]

I.e this works when it shouldn't:

![](http://i.imgur.com/PMQeuKt.png)

[2017-02-13 06:14] octref commented on #37
Interesting...Working for me for the identical code

Can you try F1 -> Inspect TM Scopes, and show me a screenshot when you put cursor between the sass region? Like so

![image](https://cloud.githubusercontent.com/assets/4033249/22872786/bf5df232-f189-11e6-8bf9-d88d2e9a1751.png)

[2017-02-13 06:24] wopian commented on #37
I'm a fool.

I thought I had `file.associations: { *.vue: vue }` in my user settings. Turns out I had it in the workspace settings in my other projects. 😨

[2017-02-13 06:24] #37 closed

[2017-02-13 18:17] stealthybox commented on #35
Looks like the grammar has just been changed.
This is going to take me some time to test properly.

[2017-02-13 19:30] octref commented on #35
The new grammar is not complete yet, but the basic idea is, you have a mega syntax that just checks for these:

[code]

you get the point. These grammars are easy to scan through (by your eye or the regex engine), so they are easy to fix and fast to parse.

I think something like `("jade"|'jade'|"pug"|'pug')` would be good enough.

The unfinished part in Vue's SFC spec is tracked here: https://git

[2017-02-13 21:01] stealthybox commented on #35
Are we planning to support Webpack's Inline Loader Requests?
[Info at the bottom of this doc](https://vue-loader.vuejs.org/en/configurations/pre-processors.html)

The old grammar forked from vue-syntax-highlight seemed to support this.

[2017-02-13 21:04] stealthybox commented on #36
Are we planning to support Webpack's Inline Loader Requests?
[Info at the bottom of this doc](https://vue-loader.vuejs.org/en/configurations/pre-processors.html)

The old grammar forked from *vue-syntax-highlight* seemed to support most of these things.
It searched for a fairly simple condition that allowed for user additions around the `lang` attribute.

[2017-02-13 22:55] octref commented on #36
So not yet. We can add that later.

[2017-02-14 02:33] linmodev opened #38 "按用法配置后，html部分格式化出错"
按照readme配置好后，可以正常工作了，但是html代码不能正常格式化
[code]
如果不配置上面这个选项，格式化是正常的，但同时css属性完全不会出现智能提示
![代码格式化如下](http://odhsaddf1.bkt.clouddn.com/QQ%E5%9B%BE%E7%89%8720170214102709.png)

[2017-02-14 03:47] octref commented on #38
Can you use English, please?

Embedded formatter support isn't available yet and is tracked in #20.

[2017-02-14 03:47] #38 closed

[2017-02-14 03:56] linmodev commented on #38
@octref Thanks.
My English is too bad.

[2017-02-14 04:07] octref commented on #38
It's fine, I can get what you are saying. Just keep trying and you'll become better :-)

I guess you meant you **can't** properly format html code.

[2017-02-14 05:09] shijunti19 opened #39 "Formatting is ugly"
![image](https://cloud.githubusercontent.com/assets/5392211/22916054/d6330488-f2b6-11e6-8187-992bf284da30.png)

[2017-02-14 05:16] linmodev commented on #38
@octref Thanks, I will learn English well.
Hope that the next version support Embedded formatter

[2017-02-14 05:31] octref commented on #39
Dup of #38 and #20. Ok guess I'll work on embedded formatter first.

[2017-02-14 06:31] aprilandjan commented on #28
@gabrielboliveira Thanks for your advise, the color-highlight plugin works well, and I think the origin color indicator is redundant now...

[2017-02-15 01:29] octref commented on #39
Are you using https://marketplace.visualstudio.com/items?itemName=HookyQR.beautify by any chance?

[2017-02-15 01:54] octref commented on #38
Sorry -- do you have any html formatter installed?

Because VSCode's html formatter seems to be working for me correctly:

![format](https://cloud.githubusercontent.com/assets/4033249/22957641/a7ef82a4-f2f7-11e6-9254-8de61887f3ee.gif)

VSCode currently only comes with html and js formatter it seems, so when you try to format, I'd suggest just format the `<template>` and `<script>` regions for now.

[2017-02-15 01:55] octref commented on #39
html formatting is working for me, with VSCode's stock html formatter.

![format](https://cloud.githubusercontent.com/assets/4033249/22957664/cf4b9734-f2f7-11e6-8c98-040c4f3909da.gif)

[2017-02-15 02:00] shijunti19 commented on #39
install vetur
The settings appear
![image](https://cloud.githubusercontent.com/assets/5392211/22957720/2b885b00-f365-11e6-8059-c1d7bc74f57c.png)
`<template>
<div class="weui_panel weui_panel_access">
  <v-loading :complete="complete" :loading="loading" @seeing="getDate">
    <router-link v-for="(item, index) in list" :key="item.id" class="weui_media_box weui_media_appmsg" :to="{ name: '/taobao/vie

[2017-02-15 02:06] octref commented on #20
OK, just an update, as people seem to want this feature.

VSCode doesn't seem to be interested in including formatters in the core, and encourages extensions to provide formatting support: https://github.com/Microsoft/vscode/issues/19166

I can try to add setting for external formatters per language, but it's not on the top of my list. I added it to the roadmap.

Meanwhile, VSCode includes html /

[2017-02-15 02:09] octref commented on #39
You have a div without tag, `div class="weui_media_bd">`.

[2017-02-15 02:11] shijunti19 commented on #39
@octref
no
you try style="..."
![image](https://cloud.githubusercontent.com/assets/5392211/22957982/1c40ee9e-f367-11e6-9892-9bfddb440020.png)

[2017-02-15 02:29] linmodev commented on #38
Before I installed other html formatter extension, but i remove it and i don't find option that format selection code. When I save my file by `ctrl+s`, the editor will format code auto.
![My VSCode's html formatter don't work correctly yet](http://odhsaddf1.bkt.clouddn.com/GIF.gif)

[2017-02-15 02:32] octref commented on #39
Do you mind pasting the code?

[2017-02-15 02:34] shijunti19 commented on #39
@octref

`<template>
    <div class="weui_panel weui_panel_access">
        <div class="weui_media_bd">
            <div class="weui_media_box weui_media_text new_padding">
                <h4 class="weui_media_title " v-html="item.title" style="margin-bottom:0;"></h4>
</div>
</div>
</div>
</template>`

[2017-02-15 02:36] octref commented on #39
Thanks, the stock html formats that code fine but vetur doesn't -- I'll look into it.

[2017-02-15 02:38] octref commented on #38
I think you are running into the same problem as #39. Inline style messed up with html formatter. I'll look into it and track it in #39.

[2017-02-15 02:42] sudo-suhas commented on #20
To add to that, I was also able to use jsbeautify for the Vue files.. That works well with html, js and css.

[2017-02-15 02:49] linmodev commented on #38
You can see this plugin ![Yours is conflict with this plugin ](http://odhsaddf1.bkt.clouddn.com/QQ%E5%9B%BE%E7%89%8720170215104442.png)

[2017-02-18 00:41] g0ld3lux opened #40 "make emmet only invoke in style tag"
is there a way , i can use emmet css and emmet html
hand in hand in vue files

if i enable it...
if i try to use emmet for html
i cant get it to work

[code]

doing something like this
pb!
[code]
when i do div.row
[code]

so is there a way i can use both emmet css and html
without having conflict?

lets say make the scope only apply to style tag for css
and template tag for html?

[2017-02-18 15:26] octref commented on #40
Can you be a bit more specific. Which part doesn't work?

[code]

[2017-02-20 00:00] #35 closed

[2017-02-20 00:00] #36 closed

[2017-02-20 00:01] octref commented on #35
Since I have to do a lot of edit to the grammar I fixed it by myself. Next time if you see a problem in the grammar and want to fix it by yourself, go ahead and send a PR! Thanks again.

[2017-02-20 00:12] octref opened #41 "Remove sass grammar"
This should be provided by another extension.

[2017-02-20 00:14] octref commented on #30
Give it a try in 0.3.3. Let me know any issues!

[2017-02-20 00:16] octref commented on #40
Umm, sorry for the bad configuration I suggested before in the README.

With 0.3.3, now you can drop
[code]

and emmet will work as intended in each regions.

[2017-02-20 00:16] #40 closed

[2017-02-20 02:07] Allenice opened #42 "Typescript in vue file"
How can I get code IntelliSense for typescript in vue file?

[2017-02-20 02:17] johnny19941216 opened #43 "0.3.3版本中有scoped标识的样式高亮失效"
如标题所说，之前版本是好着的，更新到0.3.3版本后<style scoped><style>这种带有scoped标识的样式高亮失效。

[2017-02-20 02:30] #43 closed

[2017-02-20 02:32] octref commented on #43
Please use English...

Thanks for reporting. Fixed in 0.3.4.

[2017-02-20 03:59] octref commented on #42
I'll work on it once js IntelliSense is improved in #26.

[2017-02-20 03:59] #42 closed

[2017-02-20 08:01] duleigiser opened #44 "*.vue files Emmet isnt work!"
In template tag, Emmet syntax is not available.sucks！

[2017-02-20 10:29] cupools commented on #44
Add the following to your setting and it works for template, but not stylesheet.
[code]

[2017-02-20 13:26] Huanguolin commented on #44
Me too when i update to 0.3.3. So i rollback to  0.3.2.

[2017-02-20 13:43] #44 closed

[2017-02-20 14:04] octref commented on #44
This is fixed in 0.3.5. Try update.

Basically, region between `<template>` is now marked as **vue-html** instead of **html** to provide better support for vue's interpolation and directives.

You need to add this to your setting:

"emmet.syntaxProfiles": {
  "vue-html": "html"
}

![vetur](https://cloud.githubusercontent.com/assets/4033249/23128064/6a59a444-f74b-11e6-93b2-c5f3f9f926c4.gif)

[2017-02-20 14:05] octref commented on #40
Oops, ignored what I said before. Can you upgrade to 0.3.5, and have this:

[code]

and let me know if it works for you.

![vetur](https://cloud.githubusercontent.com/assets/4033249/23128124/bbe685a2-f74b-11e6-9649-b8c8c76787a2.gif)

[2017-02-20 17:09] ripper234 commented on #20
Same for me on `LESS` style sections - formatter doesn't do anything on these sections.
(FYI without vetur installed, formatting works well, but syntax highlighting doesn't and there are incorrect warnings)

[2017-02-20 20:50] hworld opened #45 "Not highlighting vue-html."
I have .html files set up to use the vue-html language by default. I have my templates in separate .html files. Up until the latest version it worked great. For some reason with latest version (0.3.5) it's not showing any highlighting anymore. I don't have any template tags or anything around the content since it's just straight up .html files.

[2017-02-20 20:55] octref commented on #45
Can you post a screenshot?

[2017-02-20 21:48] #45 closed

[2017-02-20 21:50] octref commented on #45
I was able to repro it. It's fixed, but I want to wait a bit to see if there is other problems with the new grammar, fix them all together and publish a new version.

[2017-02-20 21:51] octref commented on #34
- [x] Better embedded js coloring
- [ ] Coloring for interpolation brackets
- [ ] Maybe some special coloring for `v-` API?

[2017-02-20 23:38] hworld commented on #45
Sounds good! Thanks for the quick look into it.

[2017-02-20 23:42] hworld commented on #45
By the way, I patched my current install with the fix and it seems to have worked. The only current thing I can see is that I no longer get autocompletions of tags.

If I type in `<ul></` it won't show the auto-close for the ul anymore.

[2017-02-20 23:47] octref commented on #45
Great!

Would you mind opening a new issue? I want to keep that tracked. Seems vue-html is not using html's language service.

[2017-02-21 01:14] hworld opened #46 "HTML language service no longer working"
I no longer get autocompletions of tags in vue-html language mode.
Easy test case: type in `<ul></` it won't show the auto-close for the ul anymore.
Emmet seems to no longer work either. Typing `div.test` and pressing tab just inserts a tab.

[2017-02-21 01:17] octref commented on #46
For emmet:

![image](https://cloud.githubusercontent.com/assets/4033249/23146980/8a48f300-f7a9-11e6-85f3-f4b840511835.png)

[2017-02-21 01:32] duleigiser commented on #44
it works！thanks~

[2017-02-21 03:24] leaves4j opened #47 "SCSS formatter broken"
[code]
 Format it with shortcut `shift+alt+f`,` scss` are not formatted

[2017-02-21 03:26] broven opened #48 "template tag issue"
![screen shot 2017-02-21 at 11 23 21 am](https://cloud.githubusercontent.com/assets/12854613/23149622/41b9f8d0-f828-11e6-8ae1-0dcc07a953bb.png)
not highlight after meet template tag which are not the right template tag.

[2017-02-21 03:30] octref commented on #48
Using `<template>` inside `<template>`...is that even allowed for vue SFC?

[2017-02-21 03:33] octref commented on #47
The embedded formatter seems broken. I'll take a look tomorrow.

[2017-02-21 03:56] octref commented on #48
NVM it's a bug.

[2017-02-21 04:21] hworld commented on #46
Ah! Sorry about the emmet one. I didn't see that.

[2017-02-21 08:09] dansullivan86 opened #49 "Add template literal support"
Is it possible to add syntax highlighting support to template literals when not using .vue files.

[code]

[2017-02-21 11:07] 445141126 opened #50 "how to support cssnext syntax"
I want syntax hightlight without no lang set. I just use cssnext for nest selectors.

lang="less"
![image](https://cloud.githubusercontent.com/assets/1384521/23162401/cfee5a0c-f868-11e6-8382-8cc6c6460815.png)

hightlight ok.

no lang set

![image](https://cloud.githubusercontent.com/assets/1384521/23162419/e5348aee-f868-11e6-8935-3def3c861247.png)

 error hightlight

[2017-02-21 11:10] 445141126 commented on #50
or i just want less syntax hightlight default

[2017-02-21 14:00] octref commented on #50
When not specifying lang, `<style>` defaults to css, according to [Vue SFC spec](https://vue-loader.vuejs.org/en/start/spec.html).

![image](https://cloud.githubusercontent.com/assets/4033249/23167879/23cbe0ae-f814-11e6-89d8-c6841c38d173.png)

vetur only builds support according to Vue SFC. Sorry.

[2017-02-21 14:05] octref commented on #50
Oops, I ignored cssnext part. If there is a good postcss/cssnext grammar out there, I can support it. But I wouldn't want to write postcss support from scratch.

[2017-02-21 14:11] octref commented on #49
It's possible by modding the js grammar that comes with VSCode, so it embeds html grammar.

I'll look into that a bit later. One question: is there anyway to tell whether the js file is a vue component? For react support in VSCode, VSCode uses jsx/tsx to denote support for jsx literal.

[2017-02-21 14:21] 445141126 commented on #50
#https://github.com/postcss/postcss/issues/409#issuecomment-156291882
There are sublime and atom postcss syntax hightlight

[2017-02-21 14:32] octref commented on #50
OK. This looks more promising though: https://github.com/y0ssar1an/CSS3

I'll look into it and have it by next version.

[2017-02-21 15:26] octref commented on #48
Will be in next release:

![image](https://cloud.githubusercontent.com/assets/4033249/23171343/3a274080-f820-11e6-9a89-b6e93e2c1573.png)

[2017-02-21 15:27] #48 closed

[2017-02-21 17:16] CalebKester opened #51 "Use of <template> breaks syntax highlighter"
I've noticed that the syntax highlighter doesn't support cascading `<template>` tags. If I try to do this inside of a component the highlighting breaks.

http://vuejs.org/v2/guide/list.html#Template-v-for

![image](https://cloud.githubusercontent.com/assets/1319995/23176087/3dbe2324-f827-11e6-8fbe-8cddf41dd423.png)

[2017-02-21 17:19] octref commented on #51
Dup of #48. I wanted to wait a bit for another fix, but I guess I'll do a minor release...

[2017-02-21 17:22] CalebKester commented on #51
Sorry, I did a terrible job of searching issues.

[2017-02-21 17:22] #51 closed

[2017-02-21 17:23] octref commented on #51
No worries. Just released 0.3.6. Upgrade and give it a try.

[2017-02-21 17:23] octref commented on #48
0.3.6 released. Upgrade and give it a try.

[2017-02-21 20:29] CalebKester commented on #48
@octref I'll move my feedback over to this ticket. I tried it and it works... except if there's anything inside of template. If you send me the code I can just test it out if you don't want to make a release.
![image](https://cloud.githubusercontent.com/assets/1319995/23183559/1b0a4e28-f842-11e6-9c6c-58826446c5b4.png)

[2017-02-21 20:57] octref opened #52 "Handle tag-stuff for template in vue-html"

[2017-02-21 20:58] octref commented on #48
Thanks -- I ignored that. It's tracked in #52 and I'll get to it when I have time.

[2017-02-21 21:03] dansullivan86 commented on #49
Unfortunately Vue components are exported as standard js objects in standard js files.

Could this be opt in for all js files?

Thanks

[2017-02-21 21:08] octref commented on #49
Even if it's opt-in, I can't just mark everything in backtick as html, right?

[2017-02-21 21:13] dansullivan86 commented on #49
Template literals can contain plain strings, variables wrapped in ${} and html; https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Template_literals

I don't know anything about how the VSCode grammar stuff works to answer whether that would cause an issue.

[2017-02-21 21:16] octref commented on #49
How to know stuff between backstick is html but not plain string? If there is no way to check, I can't blindly mark everything between backstick as html.

[2017-02-21 21:20] dansullivan86 commented on #49
Since HTML itself supports plain strings I'm not sure I see the issue?

If it helps Vue components are required to have a single root element so ignoring whitespace they would always start and finish with a tag e.g `<div></div>`

[2017-02-21 21:22] octref commented on #49
This will take a lot of time to get right. I'll take a look after #26.

[2017-02-22 00:00] octref commented on #50
CSS3 uses Sublime Text specific grammar, so I guess the best I can do is to port the Atom PostCSS extension, or include the grammar from https://github.com/azat-io/atom-language-postcss

[2017-02-22 03:30] broven commented on #52
another bug about template tag.

[code]

[2017-02-22 03:48] octref commented on #52
Both cases aren't in Vue's SFC spec so I don't want to support them.
Likewise, `<TEMPLATE>`, `<template lang="PUG">` etc won't be supported.

[2017-02-22 05:00] mogita opened #53 "Problem with emmet and the template tag in VSCode 1.9.1"
**OS**: OS X 10.11.6
**VSCode**: 1.9.1
**vetur**: 0.3.6

**Installed Extensions:**

- Code Runner
- One Monokai Theme
- vetur
- vscode-icons

**Procedures to re-produce the issue:**

1. Disable all other extensions
1. Insert `files.associations` and `emmet.syntaxProfiles` settings provided in vetur's README
1. Create a `test.vue` file
1. Go to `test.vue`'s tab, type `template` and hit the Tab key,

[2017-02-22 05:29] octref commented on #53
Thank you so much for your detailed description. Can you enable vetur and have this in your VSCode setting to see if it works for you?

[code]

The problem is, this is how vetur marks each region:

[code]

By adding `vue-html: html`, you are saying "use html emmet in vue-html" region.
Similarly, to use emmet in vue region, you need `vue: html` in emmet syntax profile.

Thanks again. I'll add it to

[2017-02-22 05:31] #53 closed

[2017-02-22 07:18] OYsun opened #54 "The code hint is not valid in vue-html"
Hi,I'm working on VueHelper,Thanks for the issuse( https://github.com/OYsun/vscode-VueHelper/issues/16 ) you raised, I have fixed the problem, but there is a little bit of error.In my own VueHelper project package. json configuration is as follows：
[code]
So install vuehelper will automatically install vetur，But in the template of vue code hints don't work，In html region, html snippet is not avail

[2017-02-22 08:07] mqhe2007 opened #55 "How Stylus in ".vue" file activate intelliSense"
![qq 20170222154657](https://cloud.githubusercontent.com/assets/13450661/23202383/acb9d8bc-f918-11e6-9478-c5a6aaa76937.png)

example:
input "di"
expect "display"

[2017-02-22 12:31] octref commented on #54
In html your js snippet wouldn't work either, however if you try to define the snippets in F1 -> Preference: Open User Snippets -> JavaScript then snippet will be shown for embedded language.

This is a bug of VSCode and I opened an issue for it: https://github.com/Microsoft/vscode/issues/21046

[2017-02-22 15:40] octref commented on #55
I'll turn it off for stylus region then. Seems https://github.com/d4rkr00t/language-stylus does have IntelliSense. I'll look into how to integrate that.

[2017-02-22 15:43] octref commented on #54
It's working for html, as html is the top-level language in a html. The javascript snippets isn't working in html's `<script>`, either. I'll work on a PR to VSCode.

[2017-02-22 16:27] beeplin opened #56 "lost coffeescript syntax hightlight in the new version"
![image](https://cloud.githubusercontent.com/assets/13058150/23221007/b5b7aa3e-f95e-11e6-82cb-70f0548828a4.png)

[2017-02-22 18:04] #56 closed

[2017-02-22 18:04] octref commented on #56
Fixed and will be available in next version. Thanks.

[2017-02-22 18:35] octref commented on #41
Won't bother for now...

[2017-02-22 18:59] #52 closed

[2017-02-22 18:59] octref commented on #52
Alright although I don't intend to support `<template >` or `<template lang="html">`, they won't break syntax highlighting in the next version.

[2017-02-22 19:43] octref commented on #50
![image](https://cloud.githubusercontent.com/assets/4033249/23229172/3fc055ca-f90d-11e6-8d33-a46f0342cc5a.png)

Will be available in next release.

[2017-02-22 19:47] #50 closed

[2017-02-22 22:51] faisalhakim47 commented on #39
I think it is related to vscode bug. https://github.com/Microsoft/vscode/issues/17849
Has been fixed since 1.9

[2017-02-23 01:38] octref commented on #39
Thanks, that should be it. I'll port it over to the language server.

[2017-02-23 01:39] #39 closed

[2017-02-23 03:17] octref opened #57 "Port updates to html lang server to vetur"

[2017-02-23 05:22] utkukaratas opened #58 "Passing eval props in the template breaks syntax highlighting"
...
        <product-list-view  :foo=bar  :pagination=false>
        </product-list-view>

        </template>

        <script>
            ... parses as if html :/ ...
        </script>

Because of ":foo=false" property passing rest of the document will be considered as html. I could swear it was working before the latest update.

Version is the latest (0.3.6)

[2017-02-23 06:37] octref commented on #58
`<product-list-view  :foo=bar  :pagination=false>` is not valid vue syntax, afaik.

Isn't it like `<tag :foo="bar" :pagination="false">`?

Or can you kindly point me to the vue documentation / code example that uses this syntax?

[2017-02-23 07:12] iamiota commented on #52
I use [element](http://element.eleme.io/) get same bug:
[code]
![WX20170223-151001.png](https://ooo.0o0.ooo/2017/02/23/58ae8af499083.png)

[2017-02-23 07:18] ppasieka opened #59 "ESLint is not working"
Vetur 0.3.6
VS Code 1.9.1

After update to this version my vue files are not scanned by eslint, but when I change language mode to HTML then all syntax errors are shown.

My settings:
[code]

[2017-02-23 08:11] utkukaratas commented on #58
Whoa! You're right. It does work without the quotes but I can't find anything mentioning the behavior in the docs. Thanks for the heads up. Closing...

[2017-02-23 08:11] #58 closed

[2017-02-23 09:28] Li-Alex opened #60 "Tags after template haven't hight light"
Vetur 0.3.6
VS code 1.9.1

when I add "*.vue": "vue" into files.associations,
the tags after template that uses "v-if" haven't hight light.
when I remove "v-if",  it hight light correctly.
maybe the upgrade of vscode cause this problem

![image](https://cloud.githubusercontent.com/assets/16162468/23252858/4403bc40-f9ed-11e6-8156-f351d0647d37.png)

[2017-02-23 09:32] lbineau opened #61 "Template lang attribute with html support"
## Expected
If template do not have any lang attribute the syntax works and should work with ```lang="html"```
[code]
[code]
## Problem
If I add ```lang="html"``` the color syntax do not works anymore.
http://take.ms/SOaUp

[2017-02-23 12:26] broven commented on #61
#52

[2017-02-23 13:51] seanwash opened #62 "lang="coffee" not highlighting"
Vetur 0.3.6
Screenshot: https://cl.ly/jHC1

I don't have the time right now, but later this evening I can try to prepare a PR for this!

[2017-02-23 13:59] octref commented on #61
Try upgrading to 0.3.7. @broven Thanks for marking it as dup.

[2017-02-23 13:59] #61 closed

[2017-02-23 14:00] octref commented on #52
Try upgrading to 0.3.7.

[2017-02-23 14:03] seanwash commented on #62
BOOM, 0.3.7 takes care of this. Thanks!

[2017-02-23 14:03] #62 closed

[2017-02-23 15:05] octref commented on #60
Dup of #48 and #52. Try upgrading to 0.3.8.

[2017-02-23 15:05] #60 closed

[2017-02-23 15:08] octref commented on #59
Can you post a screenshot?

Also, did you install other vue extensions?

[2017-02-23 15:43] crimx opened #63 "File Icon Theme Support"
Can you make it support the file icon theme?

Before Installation
![1](https://cloud.githubusercontent.com/assets/6882794/23266067/9f3b58dc-fa21-11e6-85e6-1a0fb2f916d2.png)

After Installation
![2](https://cloud.githubusercontent.com/assets/6882794/23266083/a991140c-fa21-11e6-9393-5c1337404fd9.png)

[2017-02-23 16:23] octref commented on #63
I don't know what you are using, but this is with vscode-icons:

![image](https://cloud.githubusercontent.com/assets/4033249/23268023/795ba2b4-f9ba-11e6-9917-d1f187e2bf90.png)

[2017-02-23 16:23] octref commented on #63
This should be reported to the theme extension you are uisng. Thanks.

[2017-02-23 16:23] #63 closed

[2017-02-24 02:21] soakit commented on #59
update to Vetur 0.3.8

[2017-02-24 02:24] soakit opened #64 "There is no auto fix tip in vue file"
js files
![image](https://cloud.githubusercontent.com/assets/11240668/23287907/5440bfa2-fa7b-11e6-843d-b95b1aaf5838.png)

[2017-02-24 02:31] octref commented on #64
Those are code actions available through Salsa. I don't think this is even available in VSCode's html extension (correct me if I'm wrong)

Maybe you can open an issue on VSCode side to see what they'll do.

[2017-02-24 02:44] fenivana opened #65 "Incorrect highlighting for "in" operator"
![screen shot 2017-02-24 at 10 41 17 am](https://cloud.githubusercontent.com/assets/11750532/23288327/e4092d48-fa7d-11e6-8655-64e94c7a1b1d.png)

Version: 0.3.8

[2017-02-24 03:20] octref commented on #65
The problem is you are using `type`, which is a reserved word in TS, and VSCode is using TS grammar for JS...

I'll look into going back to Atom's JS grammar, but it doesn't have syntax highlighting as good as VSCode's TS grammar...

[2017-02-24 03:54] fenivana commented on #65
Okay, I'd change the variable name. Thanks!

[2017-02-24 04:01] octref commented on #65
I'll try to get this fixed. It doesn't sound right to force you to not use a variable name, because the grammar is wrong.

[2017-02-24 06:10] crimx commented on #63
I was using the default icon theme.  `vscode-icons` is great, thanks.

[2017-02-24 06:35] ppasieka commented on #59
I tried different vue extensions but always one at the time ( first completely I was removing extension before trying another). Before Vetur I worked with weex extension for few months.

I'm sure that ESlint worked with vetur on my machine for some time, but I am not sure which version it was exactly. For last two weeks I was working with C# code and during this period I was updating Vetur but nev

[2017-02-24 07:20] ppasieka commented on #59
Ok. Problem solved :) My mistake ;)

I usually work with this application by opening solution root (with multiple smaller projects inside). But this time I opened ONLY web application folder (as root) and I had there some old workspace setting file with eslint settings

[code]

Sorry for wasting your time

[2017-02-24 07:33] octref commented on #59
No worries -- you are not the first one making this mistake.

I'll add that to ISSUE_TEMPLATE as a hint.

[2017-02-24 07:33] #59 closed

[2017-02-24 09:18] kyjo2014 commented on #55
I have installed lang-stylus plugin. however the intellisense still not work in the ".vue" file. What else should   i do

[2017-02-24 10:42] lbineau commented on #52
Fixed the issue! Thanks for fixing this so fast.

[2017-02-24 13:07] octref commented on #55
That plugin only works for stylus files. I need to integrate its language server into vetur's language server to make the IntelliSense work. That'll take some time.

[2017-02-24 13:25] ripper234 commented on #47
FYI `LESS` files are affected as well

[code]

[2017-02-25 05:38] octref opened #66 "Move language server to vscode-textmate for defining regions"

[2017-02-27 05:49] octref commented on #20
@ripper234 LESS formatting is now fixed.

For this issue, probably need to include https://github.com/mrmlnc/vscode-pugbeautify as a dependency. I'll look into that for 0.5.

[2017-02-27 05:53] octref commented on #47
In 0.4.

![format](https://cloud.githubusercontent.com/assets/4033249/23350217/15fb3462-fc87-11e6-817e-6c4ba6fc3d45.gif)

[2017-02-27 05:58] #46 closed

[2017-02-27 05:58] #47 closed

[2017-02-27 05:58] #57 closed

[2017-02-27 06:40] octref commented on #65
The Atom grammar doesn't really play well with VSCode's theme. There is literally no highlighting...

![image](https://cloud.githubusercontent.com/assets/4033249/23351109/25e4c8ba-fc8d-11e6-8838-d903da9ee30f.png)

A proper fix would include either
- Reduce VSCode's TS language grammar to only have JS features
- Properly port Atom's JS grammar to VSCode so it has right syntax-highlighting.

But bot

[2017-02-27 06:41] octref commented on #66
Not right now, maybe later.

[2017-02-27 06:41] #66 closed

[2017-02-27 06:49] octref commented on #46
Published 0.4 which resolves this problem. Give it a try.

[2017-02-27 06:50] octref commented on #47
Published 0.4 which resolves this problem. Give it a try.

[2017-02-27 07:21] octref opened #67 "Redesign an icon"

[2017-02-27 07:52] ripper234 commented on #47
Works great, thanks! 👍

[2017-02-28 10:06] pramjeet opened #68 "Code format for sass in .vue file"
Code format does not work for sass. Everything aligns in a single line.

BTW, thanks for the extension.

[2017-02-28 10:48] Astray-git commented on #46
Please mention emmet setup in changelog..

[2017-02-28 13:21] octref commented on #46
@Astray-git Isn't that in the README?

[2017-02-28 13:23] octref commented on #68
There is no formatter for sass. I'll just disable it for sass region then.

[2017-02-28 14:00] pramjeet commented on #68
That will be better than now. Thanks.

[2017-03-01 04:52] TheDutchCoder opened #69 "No autocompletion of standard methods?"
Sorry for opening an issue for this, as it's more of a question, but it seems like this extension doesn't provide any Vue built-in method references like `mounted()` or `ready()`.

Am I missing something?

![image](https://cloud.githubusercontent.com/assets/1668207/23446407/f31b4500-fe10-11e6-82fd-fd2863d845b2.png)

[2017-03-01 05:04] octref commented on #69
Subscribe to https://github.com/octref/vetur/issues/26.
I'm working on it https://github.com/octref/vls.

[2017-03-01 05:04] #69 closed

[2017-03-01 10:36] willworks opened #70 "Syntax highlighting doesn't work with "text/babel" script tags"
### Version
 - vscode: 1.9.1
 - vetur: 0.4.0
 - os: macOS Sierra 10.12.3

### Steps to Reproduce:
 - create a <script type="text/babel"> tag in a .vue file.
 - syntax highlighting doesn't work inside the tag. If it is changed to text/javascript then syntax highlighting works.
 - but syntax highlighting work in webstorm in this situation.

[2017-03-01 12:10] TheDutchCoder commented on #69
Ah thanks!

[2017-03-01 13:29] octref commented on #70
Can you post a screenshot?

Also, for Vue SFC there is no need to specify `type="text/babel"`.

[2017-03-01 17:37] octref commented on #26
Suggesting directives:

![image](https://cloud.githubusercontent.com/assets/4033249/23472661/a7c11b78-fe7b-11e6-8092-26d748ad418c.png)

Suggesting nothing, even `v-` is typed:

![image](https://cloud.githubusercontent.com/assets/4033249/23472703/c956a280-fe7b-11e6-9de4-5ddbc77887ab.png)

Will polish it a bit and make a release this weekend.

[2017-03-02 02:53] willworks commented on #70
![screen shot 2017-03-02 at 10 33 07](https://cloud.githubusercontent.com/assets/5542777/23490482/c7185258-ff33-11e6-9e36-c7b78067c11d.png)

That is because es6 was not support well before in webstorm or other editors, so they add `type="text/babel"` to improve es6 highlight support. But when I use vscode I found syntax highlighting doesn't work inside the tag with your plugin

[2017-03-02 03:23] octref commented on #70
OK, I'll fix it for next release.

[2017-03-02 03:37] jing2si opened #71 "In vscode 1.10.1, the .vue file extension is no longer associated with HTML by default"
![image](https://cloud.githubusercontent.com/assets/2288824/23491894/1b910296-ff3c-11e6-8a64-a687fa79620f.png)
Congratulations on your plugin as an official recommendation.

[2017-03-02 13:25] octref commented on #71
This is encouraging news -- thanks for letting me know :-)

[2017-03-02 13:25] #71 closed

[2017-03-03 01:41] stackia opened #72 "No longer need to override files.associations in user settings"
https://code.visualstudio.com/updates/v1_10#_vue
As described here, `.vue` is no longer associated with HTML by default. I think we can now remove instructions to set `files.associations` in README.md.

[2017-03-03 02:19] #72 closed

[2017-03-03 02:19] octref commented on #72
Thanks!

[2017-03-03 02:26] #70 closed

[2017-03-03 02:41] octref commented on #20
Note to myself: Disable pug and sass region formatting for now for #68. Look into pugbeautify later.

[2017-03-03 02:59] soundtina opened #73 "wordbase suggestion no work"
![image](https://cloud.githubusercontent.com/assets/4946901/23536586/dd66910a-0000-11e7-8aa9-9be21d297e0e.png)
(when i didn't use vetur the **wordbase** suggestion works fine)
but
when i use vetur it just broken
![Uploading image.png…](https://cloud.githubusercontent.com/assets/4946901/23536542/98318892-0000-11e7-8d59-0c99a400b426.png)

[2017-03-03 03:09] octref commented on #73
Will be fixed correctly by #26, but it'll take some time.
I'll look into temporarily using word based suggestion...

[2017-03-03 07:28] Hanruis opened #74 "how to enable eslint autofix for vue file with this extension"
sorry for create a new issue ...i canot find your email..

is there any way to enable autofix with this extension ?
i search all issues and doc , can not find some words relate ....

env:
vscode , no other vue extension.

 vscode settings.
[code]

eslint extension version v1.2.7
eslint version v3.12.2

[2017-03-03 18:57] sandersn opened #75 "Better intellisense for `this` references in script block"
I'm working on a [plugin for the typescript language service](https://github.com/sandersn/vue-ts-plugin) that will provide better intellisense for `this` references in an options object inside the script block of a vue file. In a .js (or .ts) file, the call to `new Vue(...)` can provide a contextual type to the object literal.

[code]

But inside a Vue file, the typical code is just `export defaul

[2017-03-03 19:16] octref commented on #75
Here is the main entry for `onCompletion` and `onCompletionResolve`: https://github.com/octref/vetur/blob/master/server/src/htmlServerMain.ts#L168-L187

The language host is created here:
https://github.com/octref/vetur/blob/master/server/src/modes/javascriptMode.ts#L27-L53
If you override the `doComplete` in `javascriptMode` it should provide your new completion items when typing between `<script

[2017-03-04 06:06] lizhoukai opened #76 ".vue 文件可否添加标签感应"
在语言模式为 VUE 的时候，目前输入 div ，不能触发 Emmet，自动补全标签 <div></div>

[2017-03-04 06:11] octref commented on #76
https://github.com/octref/vetur#optional-setup

[2017-03-04 06:11] #76 closed

[2017-03-04 06:18] beeplin opened #77 "format bugs: html attr wrap"
When vscode settings has `"html.format.wrapAttributes": "force",` (or `force-align`)， formatting of vue file looks like this:

![image](https://cloud.githubusercontent.com/assets/13058150/23576606/27496cc2-00e5-11e7-9253-c8644058f04f.png)
the indentation is all broken.

I am not sure if this is veture's bug or vscode's.

vscode: 1.10.1
veture: 0.4.1
os: windows 10 x64

[2017-03-04 06:21] beeplin opened #78 "format bugs: not supporting stylus in <style>"
![image](https://cloud.githubusercontent.com/assets/13058150/23576632/a25d08c4-00e5-11e7-9ab4-b74c15393e9b.png)

stylus content without `{}`, `:` and `;` breaks into this after formatting:

![image](https://cloud.githubusercontent.com/assets/13058150/23576630/973f2c6a-00e5-11e7-9948-ccecf92b9fb1.png)

[2017-03-04 06:53] beeplin commented on #77
it turns out that this is due to vetur.

HTML file works OKAY with `"html.format.wrapAttributes": "force-aligned"`:
![image](https://cloud.githubusercontent.com/assets/13058150/23576793/2442d982-00ea-11e7-9a57-ed9e7c7b513e.png)

But same code has broken indentations for VUE files:
![image](https://cloud.githubusercontent.com/assets/13058150/23576799/55c7a9ec-00ea-11e7-9936-66f17b66416a.png)

[2017-03-04 12:54] crimx opened #79 "Highlights on Multiple Event Modifiers"
Highlights on multiple event modifiers seem buggy.

![_20170304204726](https://cloud.githubusercontent.com/assets/6882794/23578921/65829004-011c-11e7-830b-488c00b1946f.png)

[2017-03-04 20:59] octref commented on #77
Is it that html will also be broken without `"html.format.wrapAttributes": "force-aligned"`?

vetur like html is using jsbeautify, but I don't want to add too many options. I'm thinking just use `force-aligned` as default -- will that be OK?

[2017-03-04 21:38] octref commented on #78
Similar to #68. There is no formatter for stylus, jade or sass yet. I'll disable formatting for all these regions.

[2017-03-04 23:19] LanFeusT23 opened #80 "Auto-completion of HTML tags with tab doesn't work"
Typing "div.route" for example or any kind of HTML followed by pressing TAB does not auto-complete to: <div class='route'></div>

This works fine in any html file, but not inside any .vue file.

I've uninstalled and reinstalled both vetur and VS Code, but this no longer works.

[2017-03-04 23:28] hworld commented on #46
Still not working for me, actually. I have a `.html` file of vue template code and the file association is set to `vue-html` and all that works. Syntax highlighting is correct. It's still not treating it like HTML and giving me tag completions, though. I think this new issue is saying the same thing: https://github.com/octref/vetur/issues/80

[2017-03-04 23:30] LanFeusT23 commented on #80
It seems like my settings.json did not have:

[code]

Once added, it works fine. Although my work computer does not require that setting and it works fine as well as friend of mine, not sure why.

[2017-03-04 23:30] #80 closed

[2017-03-04 23:37] octref commented on #80
Glad you resolved it by yourself.
Maybe you have an older version of vetur, or another vue extension on your work computer.

[2017-03-04 23:44] octref opened #81 "Enable html IntelliSense for html files marked as vue-html"

[2017-03-04 23:44] octref commented on #46
When talking about vue-html, I was referring to the html part in vue file. I opened #81 for your request.

[2017-03-04 23:49] LanFeusT23 commented on #80
Could be, I'll be sure to check Monday! Great extension thanks! 👍

[2017-03-05 00:26] beeplin commented on #78
Another thought:

Anyway it's better to have a formatter than none. Now vetur just format stylus as if it is common css. If the stylus part has `{}`, `:` and `;` like css, it is formatted perfectly. It doesn't work only if we omit `{}`, `:` or `;`.

So how about this: Keep it what it behaves now, and in README just mention this trick:?

[2017-03-05 00:28] beeplin commented on #78
coz in most cases we use stylus not because it can save some key presses for `{}` etc., but because we need to define and use stylus variables.

[2017-03-05 00:54] octref commented on #78
I'll just disable it as most people don't write with {} and ; in stylus.

[2017-03-05 01:05] beeplin commented on #77
the vue template only breaks with `force-aligned` and `force`.  `auto` and `force-expand-multiline` is fine.

As for the second question: I suggest just following vscode's setting of `html.format.wrapAttributes`:
![image](https://cloud.githubusercontent.com/assets/13058150/23583546/9660cb12-0182-11e7-98aa-77c3d409f02b.png)

I am not sure why it behaves differently in HTML and Vue files. I suppose

[2017-03-06 04:24] octref opened #82 "Depend on js-beautify directly"
`vscode-html-languageservice` depends on `js-beautify` directly. However, it's not aware of scss, less regions. It's also causing problems like #77.

`js-beautify` actually supports scss and less, so vetur will just depend on it directly.

Overall:

- html/css/scss/less/js formatting will be supported using js-beautify
- Have a default setting for each supported languages, but also expose settings

[2017-03-06 04:25] octref commented on #20
Closing in favor of #82.

[2017-03-06 04:25] octref commented on #68
Closing in favor of #82.

[2017-03-06 04:25] #68 closed

[2017-03-06 04:26] #20 closed

[2017-03-06 04:26] octref commented on #77
Closing in favor of #82.

[2017-03-06 04:26] #77 closed

[2017-03-06 04:26] octref commented on #78
Closing in favor of #82.

[2017-03-06 04:26] #78 closed

[2017-03-06 04:29] octref commented on #82
Will use https://github.com/mrmlnc/vscode-pugbeautify for jade/pug.

[2017-03-06 05:59] octref commented on #26
An update:

- `v-*` directives and `slot`, `key`, and `ref` IntelliSense are now supported. Upgrade to 0.5.0 to try it out.
- Correct import / export is not done yet, but should involve just tweaking TypeScript's compiler options https://github.com/octref/vetur/blob/master/server/src/modes/javascriptMode.ts#L18. I probably won't have time until next weekend, so I'm pushing out 0.5.0 with directive

[2017-03-06 06:07] octref commented on #74
No autofix is available now, unfortunately.

[2017-03-06 06:07] #74 closed

[2017-03-06 06:25] octref commented on #26
![is](https://cloud.githubusercontent.com/assets/4033249/23598931/b76e1682-020b-11e7-8e00-8822f2a13cf0.gif)

[2017-03-06 06:52] beeplin commented on #82
wonderful~! waiting for the new version~~

[2017-03-06 08:27] johnny19941216 opened #84 "in@0.5.0, every time format will add a new line!"
like this:
format before:
![image](https://cloud.githubusercontent.com/assets/15609400/23601992/392a8d36-0289-11e7-998a-0af0a48deb1d.png)
format after:
![image](https://cloud.githubusercontent.com/assets/15609400/23602006/4e557a68-0289-11e7-9276-bdf94dfe0fbc.png)
but format again:
![image](https://cloud.githubusercontent.com/assets/15609400/23602036/60b6b6d6-0289-11e7-8982-431e374138f1.png)
again

[2017-03-06 13:00] octref commented on #84
The formatter is a bit broken now, see #82. I'll disable it completely in 0.5.1 and reenable once #82 is done.

[2017-03-06 13:00] #84 closed

[2017-03-06 16:34] termleech opened #85 "Discrepency between Github README and VScode Readme"
In the README on GitHub it says for < 1.10 to change the file associated for .vue.  But in the README inside VSCode it says to make that change regardless of version.  Which is correct?

[2017-03-06 16:37] octref commented on #85
Only set that for `< 1.10`. Interesting...Somehow vsce publish is not publishing my README. I'll look into this.

[2017-03-06 16:41] octref commented on #82
Formatters are temporarily disabled until this feature is addressed.

[2017-03-06 16:48] termleech commented on #85
Awesome thank you. Keep up the amazing work.

[2017-03-06 16:48] #85 closed

[2017-03-07 06:29] jiangshangzheng opened #86 "Cannot format *.vue files"

[2017-03-07 10:26] likeswinds commented on #86
Cannot format

[2017-03-07 10:55] ram-you commented on #86
@jiangshangzheng @likeswinds

See the issue https://github.com/octref/vetur/issues/82

[2017-03-07 13:16] octref commented on #86
https://github.com/octref/vetur/issues/82#issuecomment-284454045

[2017-03-07 13:16] #86 closed

[2017-03-09 13:49] zema1 commented on #82
Looking forward to the new version..
I really need the formatter..

[2017-03-10 00:25] zengyiqun commented on #82
I really need the formatter too !~~~~

[2017-03-11 00:31] beeplin opened #87 "wrongly display gitlens in <style>"
When working together with [gitlens](https://marketplace.visualstudio.com/items?itemName=eamodio.gitlens) , .vue files <style> part has extra gitlens displays:

![image](https://cloud.githubusercontent.com/assets/13058150/23818266/a48679a6-0634-11e7-8a54-1df31d78b573.png)

I guess this is not a bug from gitlens, since if using other vue support plugins such as`vue` or `vue-component` there is no t

[2017-03-11 03:44] octref commented on #87
Can you also open an issue at gitlens side? I don't quite know why it's happening, and I don't use gitlens.

[2017-03-12 07:21] sebastianmacias commented on #82
+1

[2017-03-13 04:36] formulahendry opened #88 "Cannot start debugger server"
First, thanks for your extension~

Problem 1: Not sure why this error happened
Problem 2: It will always create a debug.log in workspace root and it will make the source control dirty.

![image](https://cloud.githubusercontent.com/assets/1050213/23841060/789c6adc-07e5-11e7-98c5-e6d813bcffc0.png)

[2017-03-13 04:41] octref commented on #88
Haven't seen this before. Are you running a linux box and have some sort of rule that limits use of port 6004?

[2017-03-13 04:47] formulahendry commented on #88
I am using Windows 10. I have not set any rules on 6004.
![image](https://cloud.githubusercontent.com/assets/1050213/23841807/dac73084-07ea-11e7-8d44-171b97dbe49e.png)
I am ok for this kind of error since currently I have not used the debug feature. The pain point is that it will  automatically create a debug.log file. Not good experience for user.

[2017-03-13 04:49] octref commented on #88
This extension doesn't provide any debug feature -- how are you using the debug feature then?

[2017-03-13 05:02] formulahendry commented on #88
I just see 'Cannot start debugger server' the error message and it let me think it has a debug feature in Language Server. Anyway, I just want the basic IntelliSense and highlight feature.  And this bug really trouble me and I need to add debug,log into gitignore.
I think the debug.log file would better not be created automatically or provide an config for user. Generally, the Output Channel in en

[2017-03-13 05:08] octref commented on #88
That is unintended. I'll try to fix that.

Maybe it's because VSCode's html LS is conflicting with vetur on port 6004. Would you mind trying this?

- Go to `%USERPROFILE%\.vscode\extensions\octref.vetur-0.5.1`
- Find `client/out/htmlMain.js`
- Replace `--debug=6004` with `--debug=6005`
- Restart VSCode on your project to see if it happens again

[2017-03-13 05:25] formulahendry commented on #88
No error now. Thanks!

[2017-03-13 05:33] #88 closed

[2017-03-13 05:33] octref commented on #88
I'll include the fix in the next version.

[2017-03-13 14:05] christianmalek commented on #82
@octref Couldn't you just disable the formatter per default and make it accessible per workspace settings? I don't think that the added new lines are such an big problem.

[2017-03-13 17:58] rafaelpimpa commented on #82
It was working fine for me for basic setups, wasn't it? Would like to see it enabled back.

[2017-03-13 17:59] rafaelpimpa commented on #82
It was working fine for basic setups, wasn't it? Would like to see it enabled back.

[2017-03-13 18:45] octref commented on #82
This is top on my list. Give me a day or two to work on it.

[2017-03-14 05:16] octref commented on #82
So here is how it goes. Notice html/css/js/scss/less are all formatted, whereas sass/stylus/pug are left alone.

![format](https://cloud.githubusercontent.com/assets/4033249/23886720/7f1feadc-0853-11e7-9189-f73d78be2eab.gif)

Will add initial indentation to the template part and remove the initial indentation on js and make a release.

[2017-03-14 05:18] octref commented on #82
Stole these config from https://github.com/victorporof/Sublime-HTMLPrettify

[code]

These will be used as initial default, let me know what you agree & don't agree with.
I'll add capability to specify your own js-beautify config later.

[2017-03-15 03:49] octref commented on #54
@OYsun https://github.com/Microsoft/vscode/issues/21046 has been resolved, so you can get snippets for each languages in VSCode Insiders. If not using Insiders, this will be available in VSCode's next monthly release.

![is](https://cloud.githubusercontent.com/assets/4033249/23932850/ce18733a-0910-11e7-954e-86e9c2ad7ad0.gif)

[2017-03-15 03:49] #54 closed

[2017-03-15 07:44] EliazTray commented on #77
what is your color theme?  @beeplin

[2017-03-15 07:54] beeplin commented on #77
one dark +

[2017-03-15 08:03] EliazTray commented on #77
thank you 👍

[2017-03-15 14:19] ugros opened #89 "Integration with eslint"
My (maybe impossible or pretty hard to implement) requests are:

1. integration with Eslint (error checks, possible eslint-autofix support)
2. make default exported class "this" context integrated in template (for example properties not-defined in either data/computed/methods would throw "eslint not defined variable" error.

Anyway, thanks for the great work on this extension so far!

[2017-03-15 14:23] octref commented on #89
1. You can already use ESLint, see https://github.com/octref/vetur#setup
Autofix seems to be supported by the ESLint plugin: https://marketplace.visualstudio.com/items?itemName=dbaeumer.vscode-eslint

2. It's possible to do that after #75.

[2017-03-15 15:54] octref commented on #89
Thanks for your suggestion and encouraging words.
Will consider again after #75.

[2017-03-15 15:54] #89 closed

[2017-03-15 17:55] beeplin commented on #87
Here is the feedback from the author of gitlens:

@beeplin this is by design -- GitLens uses the symbol information provided by vscode to add its CodeLens (and extensions can extend/provide this symbol information). So the Vue extension must be providing a symbol for those classes.

You can control the behavior of the CodeLens via a few GitLens configuration settings (you can find the documentatio

[2017-03-15 18:00] octref commented on #87
Let's keep this issue open on the GitLens side.

[2017-03-15 18:00] #87 closed

[2017-03-16 03:16] usercao opened #90 "The Vetur plugin result in the emmet of VS Code invalidate."
![code img](http://p1.bpimg.com/580149/e00b7381d475b54b.png)
After setup the Vetur  plugin, the emmet  auto-complete function of  VS Code will invalidate.

[2017-03-16 03:19] octref commented on #90
It's the first thing in readme.

![image](https://cloud.githubusercontent.com/assets/4033249/23980405/bc8837d4-09d5-11e7-99fa-c9a476c6083a.png)

[2017-03-16 03:19] #90 closed

[2017-03-16 12:33] octref commented on #82
Check out 0.5.2 and let me know how it works.

Still yet to be done:

- [ ] allow to specify own options
- [ ] pug formatter

[2017-03-16 13:32] wopian commented on #31
Implemented it in [wopian/vue-syntax](https://github.com/wopian/vue-syntax-highlight) for the main sublime theme.

Haven't had time to hook up the captures to the changed capture groups or test it yet...although when I do, hopefully it'll be seen unlike the issue I created for it over a month ago 😭

Will cross-post the changes here once I have 😄

Current:
[code]

New:
[code]
![](http://i.imgur.com

[2017-03-16 15:04] ronjouch opened #91 "CSS error checking inactive"
The doc says vetur provides "Error checking for css/scss/less", but it doesn't seem active in the `<style>` section of .vue files. See screenshot below:

* Left: the vscode `[css]` checker reports errors in a `.css` file
* Right: no error reported for CSS in the `<style>` section of a `.vue` file

![vetur-css-linting-broken-vue-files](https://cloud.githubusercontent.com/assets/522085/24002147/5eaa

[2017-03-16 15:14] octref commented on #31
Here is what I have and it works fine I think:

https://github.com/octref/vetur/blob/master/syntaxes/vue.YAML#L12

[2017-03-16 16:08] octref commented on #91
Short answer is css embedded in vue is using a reduced version of VSCode's css language service, which itself only has limited support for error checking & linting.

Long answer is following recent changes in formatter(#82), I think it's better to move off the error checking and linting part from VSCode's hand-written css language service to more robust solutions actively maintained by communities

[2017-03-16 16:17] octref opened #92 "server compile & watch should rm node_modules in client"

[2017-03-16 16:18] octref commented on #92
It just installs from `package.json`...Need to manually link `vetur-vls` locally in client folder.

[2017-03-16 16:30] beeplin commented on #82
pressing shift-alt-f for multiple times will increase the indentation of html `` comments:
![image](https://cloud.githubusercontent.com/assets/13058150/24007147/b52de942-0aa8-11e7-9ac5-93c0d86c0e62.png)
became
![image](https://cloud.githubusercontent.com/assets/13058150/24007164/c320077e-0aa8-11e7-9c42-7d798c787569.png)
and became
![image](https://cloud.githubusercontent.com/assets/13058150/240071

[2017-03-16 16:32] octref commented on #82
0.5.4 preserves new lines for html, and uses `force-aligned` to align attributes as @beeplin suggested in #77

Before:
![image](https://cloud.githubusercontent.com/assets/4033249/24007255/65805880-0a44-11e7-83c3-09986f246d13.png)

After:
![image](https://cloud.githubusercontent.com/assets/4033249/24007286/7fc3ebf8-0a44-11e7-9c4d-eae39b09f098.png)

Seems css/scss/less preserve new lines option is b

[2017-03-16 16:36] beeplin commented on #82
v0.5.4 is wonderful :)

[2017-03-16 17:07] ronjouch commented on #91
Problem fixed with 0.5.4, thanks 👍

Great if stylelint/scss-lint integration arrives someday, for now I'm happy with vscode's basic checking.

[2017-03-16 17:07] #91 closed

[2017-03-16 17:09] octref commented on #91
Just meant to mention 0.5.4 would re-enable css/scss/less error checking.
This was lost while porting new changes from VSCode's html extension.

[2017-03-16 17:37] octref opened #93 "Reduce complexity of region determining"
We don't need a html parser to determine regions.

[2017-03-16 19:29] hworld commented on #81
The intellisense is working great in .vue files. Really looking forward to having the support back in vue-html marked .html files. :+1:

[2017-03-17 02:10] tangdw opened #95 "scss/less error checking"
script 里的 js 代码报 [less] 错误

[2017-03-17 02:24] Li-Alex commented on #95
Is it the same problem ?
![image](https://cloud.githubusercontent.com/assets/16162468/24026413/e9d80558-0afb-11e7-8821-05747c43686b.png)

[2017-03-17 02:35] octref commented on #95
Can you provide a reproducible case?

[2017-03-17 02:52] Li-Alex commented on #95
try to write the script tag after style tag
![image](https://cloud.githubusercontent.com/assets/16162468/24027032/bb465470-0aff-11e7-97c1-0883dac582f9.png)

[2017-03-17 03:17] octref commented on #95
@Li-Alex Thanks. I'll fix it for next version.

[2017-03-17 04:43] #95 closed

[2017-03-17 04:47] #92 closed

[2017-03-17 04:59] octref commented on #95
Fixed in 0.5.5.

[2017-03-17 13:33] ugros commented on #89
Thanks for the answer.

I am using Eslint extension already, and it work's great for javascript code inside <script> tag.

But what I originaly meant is eslint for javascript code inside <template> tag, i.e. v-if="condition == variable" should throw eslint "eqeqeq" warning (comparing values with == instead of ===)

[2017-03-17 14:21] octref opened #96 "Support for vue directive / interpolation JS in template region"
IntelliSense, error-checking and linting with ESLint.

[2017-03-17 14:21] octref commented on #89
Tracking that with #96.

[2017-03-17 14:44] palasjir opened #97 "Rename symbol support"
Hi,
do you support [rename symbol](https://code.visualstudio.com/docs/editor/editingevolved#_rename-symbol) symbol? For example changing variable name inside `script` tag isn't working for me.

[2017-03-17 15:28] octref commented on #97
Not yet. This probably will be done together with jump to definition feature.

[2017-03-18 09:49] mrzzcn commented on #18
this issue is showing again: when I pressed 'Cmd + /' inside the template part, two slashes '//' show up in the start of the line.

[2017-03-18 13:11] octref commented on #18
@mrzzcn
![format](https://cloud.githubusercontent.com/assets/4033249/24072263/caa362e4-0bba-11e7-92db-465c83116c85.gif)
Which version are you using?

[2017-03-18 13:13] mrzzcn commented on #18
vscode 1.10.2 & vetur 0.5.5

[2017-03-18 13:25] mrzzcn commented on #18
something print to the console:
[code]

does these mean something?

[2017-03-18 13:39] mrzzcn commented on #18
@octref
I think I just resolve my problem by uninstall a extension named 'Vue Component' , and then I can't search the extension again, don't what's wrong. Thank you!

[2017-03-18 14:16] octref commented on #18
That extension is no longer maintained and unpublished by its author.

[2017-03-20 15:05] octref commented on #82
0.5.6 brings CSS `preserve_newlines` from js-beautify, and is set as default:

![format2](https://cloud.githubusercontent.com/assets/4033249/24106009/14e70aba-0d5d-11e7-8963-6c2d5e537571.gif)

[2017-03-20 19:30] danikane commented on #82
Thanks to @beeplin for submitting the bug, but please, please, please @octref find a way to specify:
	"html.format.wrapAttributes": "auto"
as you mentioned previously in this thread (allow to specify own options).
Thank you for your work!

[2017-03-21 02:18] octref commented on #82
@danikane Will do soon.

[2017-03-21 12:09] #75 closed

[2017-03-21 12:20] octref commented on #26
Thanks to @sandersn's PR https://github.com/octref/vetur/pull/94, module resolution works now.

I'm planning to find a way to get props / data / computed / methods information from the exported component and use it to power IntelliSense (for both html template and js), and release 0.6 around this weekend.

![image](https://cloud.githubusercontent.com/assets/4033249/24147014/b1e754da-0e0e-11e7-8496

[2017-03-22 11:31] c01nd01r opened #98 "$style properties incorrect color highlight"
Hello! Thx for a good extension!

When I use $style object from CSS modules, I get incorrect color highlight  for some properties like `$style.text` or `$style.title`.
Look at the screenshot:
![2017-03-22 14 26 28](https://cloud.githubusercontent.com/assets/3511312/24195711/e52bba4a-0f0b-11e7-9c8c-ff7c65ce14fd.png)

vetur 0.5.6.
vscode 1.10.2 (1.10.2)

[2017-03-22 12:29] cangzhang opened #99 "Could not format vue file correctly"
As shown in the gif, other extensions have been disabled.
![1](https://cloud.githubusercontent.com/assets/1357073/24197817/27c41f50-0f3e-11e7-8e02-9b53cc5519b3.gif)
![snipaste20170322_202923](https://cloud.githubusercontent.com/assets/1357073/24197841/4401ea58-0f3e-11e7-93d5-3a7f629900b2.png)

[2017-03-22 13:08] octref commented on #99
Will look into it. Probably a bug from js-beautify.

[2017-03-22 13:10] octref commented on #98
Bug with html grammar. Will fix later today.

[2017-03-22 15:10] DanielPintilei opened #100 "formatOnPaste"
With `"editor.formatOnPaste": true` in settings, when I paste, the code goes on a new line and the indentation messes up; if I go one step back with Ctrl+Z it looks good. Thanks.

[2017-03-22 15:15] c01nd01r opened #101 "UserSnippets in *.vue files"
Hello!
UserSnippets don't work inside *.vue.
Look at this screencast: https://youtu.be/6dXVC3oYVsU

vetur 0.5.6.
vscode 1.10.2 (1.10.2)

[2017-03-22 15:15] octref commented on #100
Screenshots please otherwise I wouldn't know what you are talking about.

[2017-03-22 15:18] octref commented on #101
Put it as snippet for `vue-html`.

That's the only different part in language naming. You can use css, scss, js snippets for each regions.

[2017-03-22 15:18] #101 closed

[2017-03-22 15:24] octref commented on #101
Put an update to the README, thanks!

![image](https://cloud.githubusercontent.com/assets/4033249/24205588/27dba838-0ef2-11e7-8361-fa4d9de366fc.png)

[2017-03-22 15:27] c01nd01r commented on #101
Ah, sorry for this... Yep, it is works for me.
Thank you!

[2017-03-22 17:27] octref commented on #98
It's a problem with your syntax theme, I think.

![image](https://cloud.githubusercontent.com/assets/4033249/24211712/4b5b0e0a-0f03-11e7-8711-a199708e29d0.png)

Which one are you using?

[2017-03-22 18:28] DanielPintilei commented on #100
![paste](https://cloud.githubusercontent.com/assets/9828983/24214388/fc835a04-0f3d-11e7-8155-94e4cb34a3bb.gif)

[2017-03-23 03:22] octref opened #102 "lang="ts" instead of lang="typescript" for activating TS IntelliSense"
Need to have a languageId mapping, possibly also a supported functionality mapping.

[2017-03-23 03:35] octref opened #103 "Support vuejs/vue-class-component"
This looks really awesome.

[code]

[2017-03-23 06:30] sebastianmacias opened #104 "[eslint] Missing space before function parentheses."
When I format a .vue file the formatter is removing the spaces before the function parentheses and I'm getting warnings like this:

[eslint] Missing space before function parentheses. (space-before-function-paren)

This however doesn't happen with js files (the formatter adds the space when I miss it).

[2017-03-23 08:02] c01nd01r commented on #98
I use [Material Neutral Theme](https://marketplace.visualstudio.com/items?itemName=bernardodsanderson.theme-material-neutral)
Other default themes:
![2017-03-23 10 48 51](https://cloud.githubusercontent.com/assets/3511312/24237632/2539b536-0fb8-11e7-8c37-e9046fa2d6a3.png)
![2017-03-23 10 48 41](https://cloud.githubusercontent.com/assets/3511312/24237630/25399fba-0fb8-11e7-8a1a-c57e085183b1.png)
![

[2017-03-23 13:56] chanon opened #105 "With 0.5.6 version SCSS with CSS Modules causes syntax errors"
I am using CSS Modules. In previous version there were no syntax errors, but now there are errors even though it is valid CSS Modules syntax:
![image](https://cloud.githubusercontent.com/assets/357737/24250948/1e52fb3a-100b-11e7-8192-cad16963875b.png)

![image](https://cloud.githubusercontent.com/assets/357737/24250979/35c969e8-100b-11e7-9d50-858a2d9314d0.png)

![image](https://cloud.githubusercon

[2017-03-23 13:57] chanon commented on #105
Otherwise if syntax checking can be disabled, that would be fine for me also

[2017-03-23 14:09] octref commented on #105
Can you paste the code so I can easily test?

[2017-03-23 14:53] wanningfe opened #106 "jsDoc not work"
I tried to import a javascript file to a vue component.
but no any comments was imported after that.

[2017-03-23 15:19] octref commented on #106
I never use jsdoc so I don't know. Does jsdoc even work in VSCode by default?
You should try to look for TS type definition for the external JS libs you want to use.

[2017-03-23 15:32] #104 closed

[2017-03-23 15:32] octref commented on #104
I'll add an option for it in the next release, since not everyone wants it.

[2017-03-23 15:33] octref opened #107 "Expose TS formatter options for js"

[2017-03-23 15:41] #106 closed

[2017-03-23 15:43] wanningfe commented on #106
i find it didn't work in VSCode by default.
That has nothing to do with this.

[2017-03-23 15:44] octref commented on #106
Thanks. Just saying, with the next release, you should be able to do:

- `npm i -S lodash`
- `npm i -D @types/lodash`
- Type `_.` in JS region and get IntelliSense.

[2017-03-23 17:11] chanon commented on #105
[code]

[2017-03-24 01:05] githoniel opened #108 "How to turn off `javascript.validate` in vue files when using this plugin?"
with
[code]

the vscode's javascript.validate still run in *.vue, it does not support some ES7 syntax eg
[code]

[2017-03-24 04:11] octref commented on #108
Yeah es7 syntax is not supported. I'll add an option to turn off JS validation.

[2017-03-25 07:08] mika76 opened #109 "Allow zen code\emmet to work in vue templates"
When editing html in vscode usually you can use emmet shortcuts to create html. Please enable this in the vue templates (if possible).

https://code.visualstudio.com/docs/languages/html#_emmet-snippets

[2017-03-25 17:14] octref commented on #109
That's the first thing in readme:

![image](https://cloud.githubusercontent.com/assets/4033249/24324455/09b93290-115d-11e7-9f62-d47a6c13ed44.png)

[2017-03-25 17:14] #109 closed

[2017-03-25 17:17] mika76 commented on #109
Oh brilliant. It never occurred to me that it's working with a config change. A search in issues didn't turn up anything...

[2017-03-27 14:41] octref commented on #49
Taking my words back -- this seems to be an interesting addition, and can be reused for other framework support, like how people in React is doing inlining CSS with string literals.

I'll try to have it by May for 1.0 release.

[2017-03-27 16:28] csicky commented on #99
Just came here to report exactly this. It indents parts of html on each save.

[2017-03-27 16:40] csicky opened #110 "Remove barely used dom API out of IntelliSense"
When I comment something in a .vue file and I type `//` I get instead `/AAGUID/`. It happens only sometimes, not always.
It appeared only after I switched to Vetur.
I also use extensions Eslint, Editorconfig for VS Code, Reactjs code snippets, React Native Tools.
Thank you.

[2017-03-28 18:57] octref commented on #110
Interesting, I haven't seen this before. Which part (template, style, js, or outside any region) are you writing it?

I can't debug it if I can't reproduce it.

[2017-03-28 22:01] csicky commented on #110
I made a video and from it I made a gif. I don't know what to send for you to be able to reproduce it. It's not big deal, but if you want I can send you any config files from VS Code just for your curiosity.
What is strange is that it appears like it is coming from somewhere, it's not random. Even if I type `aa` it appears in IntelliSense.
Like I said, I can live with it. I just thought to report

[2017-03-29 03:22] octref commented on #110
Yea the current IntelliSense have a lot of junks in it (outputting everything and let you filter it down).
A lot of the suggestions don't make sense in the context at all.
I'll have time to improve IntelliSense next week, and I'll remember to look into this.

[2017-03-29 04:04] wopian commented on #41
👍 Current syntax highlighting provided by vetur is considerably poor compared to the main Sass syntax extension: https://github.com/robinbentley/vscode-sass-indented. Also has snippets 🎉

Vetur:
![](http://i.imgur.com/oqIsmac.png)
![](http://i.imgur.com/msIdkQR.png)

Sass
![](http://i.imgur.com/WKc3gcp.png)
![](http://i.imgur.com/EqE9Njv.png)

[2017-03-29 04:19] octref commented on #41
sass-indented has updated grammar from https://github.com/P233/Syntax-highlighting-for-Sass. I'll remove the current sass definition then.

[2017-03-29 06:58] HerringtonDarkholme opened #111 "attribute `lang="typescript"` breaks IntelliSense"
VSCode version:  1.10.2 (1.10.2)
Vetur version: 0.5.6

Vanilla VSCode, with only Vetur enabled.

Reproduction:

Open a vue file. Add a `<script></script>` section.

If no `lang` is added, completion works.

<img width="1087" alt="screen shot 2017-03-29 at 2 51 23 pm" src="https://cloud.githubusercontent.com/assets/2883231/24442224/b7155c4a-148f-11e7-973b-33b4a79936a6.png">

However, `lang="typescr

[2017-03-29 09:07] octref commented on #111
Yes there is support for TS since #94, but it hasn't been released yet because there are some rough edges that I want to handle. There are lot of completions that don't make sense, and I think the standard is `lang="ts"`...

I'm looking towards to release 0.6 which finishes IntelliSense described in #26 and integrates #94 better.

![image](https://cloud.githubusercontent.com/assets/4033249/2444688

[2017-03-31 03:22] qiming-kooboo commented on #99
@octref  Any progress of this issue?
I found that the issue only happens when html contains ‘mustache’.

[2017-03-31 04:48] Justineo opened #112 "ESLint is not working correctly with JSX within .vue files"
Code to repro:

[code]

The problem only occurs in `<script>` sections in `.vue` files:

![image](https://cloud.githubusercontent.com/assets/1726061/24536721/e00f19f8-160e-11e7-85b1-c3a975efa4ea.png)

Linting for `.js` files is working as expected:

![image](https://cloud.githubusercontent.com/assets/1726061/24536853/145a602c-1610-11e7-8beb-799d14ae0909.png)

And the file association is correct:

[2017-03-31 11:54] henri-ihalainen opened #113 "Error when opening definition of imported function in .vue component"
When trying to Go to Definition of foo() function that is imported in the component script tag, an error pops up in VS Code Output

![image](https://cloud.githubusercontent.com/assets/8912981/24549334/7b5e97a0-1621-11e7-9443-c8873e6c5544.png)

![image](https://cloud.githubusercontent.com/assets/8912981/24549401/c9cc6552-1621-11e7-86bd-5b09e5b590eb.png)

[2017-03-31 15:48] octref commented on #112
JSX is not yet supported in Vue SFC, I think. If there is an official example, can you send a link to me?

Take a look at (vuepack)[https://github.com/egoist/vuepack] and how it generates a template using JSX. The way seems to be splitting them into js/css files and ESLint works fine.

![image](https://cloud.githubusercontent.com/assets/4033249/24557939/7bc974f4-1607-11e7-8e8e-417f9e08c760.png)

[2017-03-31 15:56] octref commented on #113
I can repro it. Thanks.

[2017-04-04 05:12] jamesxv7 opened #114 "Avoid multi line attributes inside <template>"
Hello!
First of all, awesome job, I really love this project. I would like to know if it is possible to avoid multi line attributes inside `<template>` tags in a .vue file. I would like to preserve the following format:

[code]
But when I format the file the template change to:
[code]
It is possible to avoid that?

[2017-04-05 09:33] aprilandjan commented on #110
When I use `switch` syntax in vue files, after typing a case colon, the suggested string `AAGUID` came out. I had to press ESC to cancel suggestions and then ENTER to switch to a new line.

[2017-04-05 17:18] octref commented on #114
Working on a formatter setting right now...

[2017-04-05 17:40] jamesxv7 commented on #114
Awesome @octref, any help that I can provide just let me know.

[2017-04-05 17:44] octref commented on #114
Let's keep it open -- I want to verify the update would solve this problem.

[2017-04-06 04:02] yeluoqiuzhi commented on #112
I have an example, can you solve this?
[example](https://github.com/yeluoqiuzhi/vue-jsx-in-vscode)

<img width="782" alt="screen shot 2017-04-06 at 12 00 27 pm" src="https://cloud.githubusercontent.com/assets/9261562/24737397/e070b7ce-1ac0-11e7-9a87-8005106ec5e0.png">

[2017-04-06 08:24] rohmanhm opened #115 "Error using JSX"
Software: vscode 1.11.0
OS: macOS

Hi, I followed your instruction on README file, but I got this error.

![screen shot 2017-04-06 at 2 34 35 pm](https://cloud.githubusercontent.com/assets/7524911/24742857/397106b6-1ad6-11e7-942d-116682bae81c.png)

Here's my eslint config
[code]
Any solution please

[2017-04-06 08:25] rohmanhm commented on #112
Same problem here #115

[2017-04-07 09:41] Hanruis commented on #8
actually, you can separate js, html. css file  by  use src in vue file .
- so you can use scoped css easily
- you can use ts in vue single file & get the benifit of ts (like type check, intellisense)

[2017-04-07 20:09] chrmarti opened #116 "Enable breakpoints for .vue"
vetur 0.5.6

The package.json would need to contribute `"breakpoints": [ { "language": "vue" } ]`.

(Microsoft/vscode#23385)

[2017-04-07 22:56] adamgoose commented on #99
I'm experiencing something similar. Screencast: http://d.enge.me/qEW4

Truncated code from said screencast:

[code]

[2017-04-07 22:58] adamgoose commented on #99
Of course, setting `"html.format.enable": false` prevents this issue from happening.

[2017-04-08 17:19] HADB commented on #114
nice! can't wait to have this setting!

[2017-04-10 02:32] octref commented on #116
There is no debugging functionalities built-in yet. So even if I enable breakpoints they wouldn't work.

They are the last thing on my roadmap, because AFAIK people in Vue community use https://github.com/vuejs/vue-devtools for debugging and it has been OK for most scenarios.

I'll try to find what VSCode's debugging functionality can provide in complement to vue-devtools.
But that's for later. Cu

[2017-04-10 02:46] #41 closed

[2017-04-10 02:47] octref commented on #41
Decided to bundle https://github.com/robinbentley/vscode-sass-indented grammar directly.

[2017-04-10 02:54] octref commented on #73
We already have word-based IS in master. Will be available next release.

[2017-04-10 02:54] #73 closed

[2017-04-10 03:05] octref commented on #115
Thanks. Tracking in #112.

[2017-04-10 03:05] #115 closed

[2017-04-10 03:32] octref commented on #112
Would like to make sure JSX in Vue SFC is actually supported before doing anything.

[2017-04-10 03:38] yeluoqiuzhi commented on #112
JSX can compile normally with vue-loader, It's supported in SFC.

Just do this

install dependencies
[code]

In your .babelrc:

[code]

[2017-04-10 03:41] octref commented on #112
Just haven't seen any official examples using it this way. I opened issue https://github.com/vuejs/vue-loader/issues/769 for more clarification.

[2017-04-10 03:44] yeluoqiuzhi commented on #112
jsx is supported by babel, vue-loader only extract any javascript and compile it with babel

[2017-04-10 03:49] rohmanhm commented on #112
Hope this feature available soon https://github.com/Microsoft/vscode/issues/24295

[2017-04-10 05:51] leestar54 opened #117 "insertSpaceBeforeFunctionParenthesis setting not woking in .vue file"
vscode 1.11+ has been add typescript and javascript format.insertSpaceBeforeFunctionParenthesis settings.
I want to use `fun () {}` to define a function,but when I format document in .vue files script,there is no space before function parenthesis.

insertSpaceBeforeFunctionParenthesis setting works fine in .js files

![2](https://cloud.githubusercontent.com/assets/6147833/24847627/aa52928e-1df4-11

[2017-04-10 06:35] octref commented on #117
Thanks. This is already tracked in #107. I'll publish it with updated formatter options from js-beautifier soon.

[2017-04-10 06:35] #117 closed

[2017-04-10 17:19] chrmarti commented on #116
@octref You can already debug JavaScript code in .vue files when source maps are set up correctly.

[2017-04-10 17:33] octref commented on #116
@chrmarti Interesting. I never tried that before.
I'll give it a try this weekend and include some usage doc if it works well.

[2017-04-11 15:15] colebrusco commented on #26
When version 0.6 will be release? I'm so exciting to use. Congratulations for this extension.

[2017-04-12 01:16] octref commented on #49
Bookmark: https://github.com/angular/vscode-ng-language-service

[2017-04-12 01:18] octref commented on #28
I still don't like it. I recommend using @gabrielboliveira's extension instead.

[2017-04-12 01:18] #28 closed

[2017-04-12 01:29] octref commented on #54
This is already in March release.

[2017-04-12 16:06] octref commented on #99
@adamgoose

Sorry that's a bug that has been fixed on master.

`js-beautify` is working as expected -- this bug comes from mixing VSCode's html formatter with js-beautify. Will push a fix tonight with formatter options for 0.6 release.

[2017-04-13 07:43] octref commented on #112
@rohmanhm Not really. A proper fix would include an updated eslint config for your issue: https://github.com/vuejs/eslint-plugin-vue/issues/9

[2017-04-14 04:00] TonyPythoneer commented on #26
I expect that it will be release. Would you release 0.5.x and let users use the latest feature? :smile:

[2017-04-14 17:13] kirtangajjar opened #118 "Adding colon in attributes breaks syntax highlighting"
Here is a test case

[code]
...and here is what happens
![screen shot 2017-04-14 at 10 36 16 pm](https://cloud.githubusercontent.com/assets/8456197/25050194/a64d7f74-2163-11e7-9a5e-929d23551cbc.png)

[2017-04-16 15:06] oswaldomilet commented on #26
What is the current status? Have you a roadmap?

[2017-04-17 17:43] octref commented on #118
I think your syntax is wrong. You need double/single quotes around the value like so:

`<TreeView :sourceData="this.globalData" />`

Also see #58.

[2017-04-17 17:43] #118 closed

[2017-04-17 17:53] #111 closed

[2017-04-17 18:00] octref commented on #82
@danikane This is already in master so closing. Also `auto` is set as default but people can set `wrap_attributes` to `force-aligned` if they want. Will be available in 0.6.

[2017-04-17 18:01] #82 closed

[2017-04-17 18:04] danikane commented on #82
Many thanks!

[2017-04-17 18:15] octref commented on #26
Would rather have stable features before publishing. This way it's better for users and I have less bugs to deal with. A list of things coming with 0.6:

- Improved Completion for `this`
- Consolidated formatter options
- Type-checking is js/ts

[2017-04-17 18:44] oswaldomilet commented on #26
what's the expected release date? I'm sure lots of people waiting for this :)

[2017-04-17 18:49] kirtangajjar commented on #118
Oh! Never noticed that. Thanks 👍

Well there's a question -  If it works works without quotes, don't you think it is a valid vue syntax? The docs may not use it, but it still could be valid. And if that's the case, don't you think that syntax highlighting should not break like that?

[2017-04-17 18:55] octref commented on #118
I've never used it that way -- can you find a doc or official example that include such usage? If so I'll add support.

[2017-04-17 21:14] cynecx opened #119 "[js-intellisense] imports aren't working"
Hey,

I would like to report a bug or more like a feature request in case this isn't a bug.

The bug is really easy to reproduce: Create a vue file with javascript inside, then try to import anything and it's not resolving the imports. However, it works (imports and whole modules resolution) when I separate the vue file into a vue and javascript file by referencing the javascript through the src t

[2017-04-17 21:17] #119 closed

[2017-04-17 21:18] cynecx commented on #119
I've just realized that this issue is a duplicate. See #26 .

[2017-04-17 21:27] octref commented on #119
Yea it's already in master. Will be available in 0.6. Need a bit more time to work on it.

[2017-04-17 22:04] cynecx commented on #119
@octref Is it possible to somehow build this extension from master. Do you have any instructions?

I've tried following: cloned the repo -> `npm install` for client and server -> `npm run compile` for client and server. Then I've packaged the extension with `vsce package` and installed directly in vscode.

This isn't working though. I am getting an error:

[code]

[2017-04-18 02:11] muermaru opened #120 "no IntelliSense for js"
![image](https://cloud.githubusercontent.com/assets/12495960/25111112/9ec1848e-241b-11e7-80ad-0c31229ef174.png)
my vscode's version is 1.10.2, it is no intelliSense for js codes(like 'for' or 'if' and so on),but for html it works well

![image](https://cloud.githubusercontent.com/assets/12495960/25111704/244ad8e6-241f-11e7-8958-370d10ac3858.png)
there are my extensions

![image](https://cloud.gith

[2017-04-18 05:45] muermaru commented on #120
I just update my vsc to 1.11.2, now the intelliSense for js is works well...

[2017-04-18 10:39] octref commented on #120
Also see #26 and #119. Wait for the upcoming 0.6 release...

[2017-04-18 10:39] #120 closed

[2017-04-19 09:37] tziuka commented on #99
@octref Hi, any update on the issue? Thank you

[2017-04-19 18:17] #107 closed

[2017-04-19 18:45] octref commented on #114
This is resolved in master. Will be publishing 0.6 with release notes soon.

[2017-04-19 18:45] #114 closed

[2017-04-19 19:13] octref commented on #114
https://github.com/octref/vetur/blob/master/docs/formatting.md

[2017-04-19 20:02] octref commented on #112
This is an ESLint issue to add support for JSX in Vue SFC. Unfortunately there is nothing I can do from my side.

[2017-04-19 20:02] #112 closed

[2017-04-19 20:04] octref commented on #105
Guess I'll just disable CSS error checking.

[2017-04-19 20:04] #102 closed

[2017-04-19 20:06] octref commented on #99
This is not fixed with 0.6 yet. I'll look into it later...

[2017-04-19 20:12] octref commented on #26
0.6 is released with module resolution (not working perfectly for import/export Vue SFC, but works great for node modules and loading js/ts files).

Also better IntelliSense:

![image](https://cloud.githubusercontent.com/assets/4033249/25200009/e2e59704-251a-11e7-9692-12d806d2b626.png)

![image](https://cloud.githubusercontent.com/assets/4033249/25200022/ea76fef4-251a-11e7-9e18-348b76b97424.png)

[2017-04-19 20:12] #26 closed

[2017-04-19 20:25] octref opened #121 "Add option to configure initial indent for <style> and <script>"

[2017-04-19 20:47] octref commented on #117
https://github.com/octref/vetur/blob/master/docs/formatting.md

[2017-04-20 00:09] jingzheshan opened #122 "Vetur 0.6.0 The Vue Language Server server crashed"
Hi,

After I installed 0.6.0 it throws following error. Here is the error log screenshot

![2222](https://cloud.githubusercontent.com/assets/2770401/25207349/03d5513c-25c2-11e7-9492-63e4b1b534d9.PNG)

Thanks for your help,
Jing

[2017-04-20 01:12] octref commented on #119
@cynecx I haven't seen that before. Let's track it in #122.

[2017-04-20 01:19] octref commented on #122
Can you try projects like https://github.com/vuejs/vue-hackernews-2.0 and https://github.com/vuejs-templates/webpack and see if this happens to them as well?

Also, are you working on a project that you've been using vetur with? Seems past language cache is messing up with the new module resolution.

[2017-04-20 01:26] octref commented on #113
This doesn't seem to happen with 0.6 for me -- can you try it again?

[2017-04-20 01:27] panxiuqing opened #123 "Vue Language Service crashed"
Vue language service closed when I update vetur to 0.6

![image](https://cloud.githubusercontent.com/assets/476617/25209042/f4a465c0-25aa-11e7-810a-ca4f4906f61a.png)

My settings:

![image](https://cloud.githubusercontent.com/assets/476617/25209102/57ec77b2-25ab-11e7-97c0-8093cec5b10a.png)

[2017-04-20 01:40] octref commented on #123
Do you happen to have a `jsconfig` or `tsconfig` in your project? If so can you paste its content?

[2017-04-20 01:41] jingzheshan commented on #122
Vetur is a great tool, I used this plugin since current project started.
I tried on  https://github.com/vuejs/vue-hackernews-2.0 and seems all normal, however I did find one minor issue. If I keep formatting document (shift + alt + f), indenting keeps happening.

![animated](https://cloud.githubusercontent.com/assets/2770401/25209384/ec1b0e9e-25ce-11e7-9bd9-d41e570b1792.gif)

Cheers,
Jing

[2017-04-20 01:43] octref commented on #122
Don't close it yet -- let me figure it out as it might be happening to other people too.

For the project that's crashing, do you have a jsconfig or tsconfig inside it?

[2017-04-20 01:44] ninja-1 commented on #122
Also having this problem on a project that I've been using vetur with before the update. I don't have a jsconfig or tsconfig in the project.

Is there a way to clear the cache? I've tried reinstalling vetur with no success.

[2017-04-20 01:45] jingzheshan commented on #122
Here is my tsconfig.json (no jsconfig)
{
  "compilerOptions": {
    "allowJs": true,
    "module": "es2015",
    "moduleResolution": "node",
    "target": "es5",
    "lib": [
      "dom",
      "es2015",
      "es2015.promise"
    ],
    "types": [
      "vue-typescript-import-dts",
      "jquery",
      "semantic-ui",
      "lodash"
    ],
    "allowSyntheticDefaultImports": true,
    "experiment

[2017-04-20 01:51] dracher commented on #123
same issue after upgrade to 0.6.0, but different output
[code]
ENV:
- Fedora 25
- VsCode Version 1.11.2
- Vuetur 0.6.0

[2017-04-20 01:53] wodeguaiguai commented on #122
Also having this problem on my project After the update!

[2017-04-20 01:54] The-Smallest commented on #123
Same problem.

Here some logs from extension:
[code]

Extra information:
- No _jsconfig_ or _tsconfig_.
- Error doesn't reproduce if I create fresh project with `vue init webpack-simple`
- I use *pug* in templates
- OS: Windows 10

[2017-04-20 01:59] leestar54 commented on #117
Thank you,but after I updated vetur to 6.0,vscode throw an error

**output**
[code]
 My project is create by vuejs-templates/webpack from vue-cli and I didn't chang any default things.

it's same as #122

[2017-04-20 02:07] octref commented on #117
Do you mean if you create a new project with `vuejs-templates/webpack` right now and open it with VSCode and vetur, it still crashes?

[2017-04-20 02:18] jing2si commented on #123
Same problem as @The-Smallest .

[2017-04-20 02:25] octref commented on #122
@jingzheshan Can you try backup that `tsconfig`, remove it from your project, and see if vetur still crashes?
Seems you are using `tsconfig` to compile some ts code, but `vetur` thought that was meant for vue code too, so vetur ends up trying to resolve a `.vue` file that's outside `"client/**/*.ts"`.

[2017-04-20 02:28] octref commented on #122
For people having problems -- it would be great if you can find a sample project like `vue-hackernews-2`, or some `vue-templates` and still make vetur crash.

Basically I need a project where I could repro the problem and the bug can be easily resolved.

[2017-04-20 02:28] octref commented on #123
For people having problems -- it would be great if you can find a sample project like vue-hackernews-2, or some vue-templates and still make vetur crash.

Basically I need a project where I could repro the problem and the bug can be easily resolved.

[2017-04-20 02:28] The-Smallest commented on #123
Here some extra information: function _getDocumentRegions_ (embeddedSupport.js:11:35) really gets strange input object for parameter `document`:

[code]

[2017-04-20 02:32] soundtina commented on #123
i also meet the vls crashed problem

[2017-04-20 02:41] The-Smallest commented on #123
I found way to reproduce error on _webpack-simple_ template:
Simply write *bad import* in _script_ section. Example:
[code]

Hope that helps.

[2017-04-20 02:43] FlynnLeeGit opened #124 "also have the vue language server crashed"
/Users/sfdd/.vscode/extensions/octref.vetur-0.6.0/client/server/node_modules/vetur-vls/lib/parser/htmlScanner.js:46
            this.len = source.length;
                             ^

TypeError: Cannot read property 'length' of undefined
    at new MultiLineStream (/Users/sfdd/.vscode/extensions/octref.vetur-0.6.0/client/server/node_modules/vetur-vls/lib/parser/htmlScanner.js:46:30)
    at Objec

[2017-04-20 02:44] #124 closed

[2017-04-20 02:44] FlynnLeeGit commented on #123
here's what i got
/Users/sfdd/.vscode/extensions/octref.vetur-0.6.0/client/server/node_modules/vetur-vls/lib/parser/htmlScanner.js:46
            this.len = source.length;
                             ^

TypeError: Cannot read property 'length' of undefined
    at new MultiLineStream (/Users/sfdd/.vscode/extensions/octref.vetur-0.6.0/client/server/node_modules/vetur-vls/lib/parser/htmlScanner.js:4

[2017-04-20 02:47] octref commented on #123
@The-Smallest

That's it -- Thanks!

[2017-04-20 02:48] octref commented on #122
I got the repro -- give me some time to look into it.

[2017-04-20 03:00] leestar54 commented on #117
No,I mean I didn't change default config things.
I create a new project with vuejs-templates/webpack,vetur works well,it's so strange!
Then I add different files from error project to new project,it's throw error again.
Finally, I found out why this error happened,**because of the .vue extension name**

just in router.js
**throw error**
``import NotFound from '@/views/404.vue'

change to
**no erro

[2017-04-20 03:21] yswnldy commented on #123
Same problem as @The-Smallest .

[2017-04-20 06:16] exonuclease commented on #123
Same problem as @The-Smallest .
Fedora 25
VsCode Version 1.11.2
Vuetur 0.6.0
/home/guoyifan/.vscode/extensions/octref.vetur-0.6.0/client/server/node_modules/vetur-vls/lib/parser/htmlScanner.js:46
            this.len = source.length;
                             ^

TypeError: Cannot read property 'length' of undefined
    at new MultiLineStream (/home/guoyifan/.vscode/extensions/octref.vetur-0.6.0

[2017-04-20 08:59] panxiuqing commented on #123
@octref @The-Smallest
The file exists at that path and every file.vue cause the crash
My tsconfig.json :
[code]

[2017-04-20 09:27] askz commented on #123
Hi, different error here :
[code]

[2017-04-20 09:42] BelinChung commented on #123
[code]
`Vue language server` crashed after upgrade `vetur` to 0.6.0

[2017-04-20 12:06] Rocket1184 commented on #123
@askz I use ArchLinux too and have the same issue

[2017-04-20 14:13] bmfteixeira opened #125 "Vetur - VS Code - Vue server crash"
https://cl.ly/3K360b2m0k0X

Just after installed Vetur. What is going on?

VS Code Version 1.11.2 (1.11.2)

[2017-04-20 15:08] octref commented on #125
Dup of #122 and #123. Working on fix rn.

[2017-04-20 15:08] #125 closed

[2017-04-20 16:41] #122 closed

[2017-04-20 16:46] octref commented on #123
`TypeError: Cannot read property 'length' of undefined` should be fixed with 0.6.1.

For people having other problems @askz, @BelinChung and @dracher, give 0.6.1 a try and open another issue if the problem still persists.

[2017-04-20 16:46] #123 closed

[2017-04-20 17:00] coderdiaz opened #126 "Error with vue language server"
Hi guys,
I have this issue with vue components every time I save a .vue file throws that exception

![image](https://cloud.githubusercontent.com/assets/26385863/25242852/b2f219f4-25c0-11e7-92f8-26643f49c2aa.png)

[2017-04-20 17:02] octref commented on #126
Dup of #122 and #123. Upgrade to 0.6.1.

[2017-04-20 17:02] #126 closed

[2017-04-20 17:35] pdanpdan opened #127 "Server crash on 0.6.1 `var symbol = container.locals.get(node.text);`"
[code]

[2017-04-20 17:46] askz opened #128 "Server still crash on 0.6.1 - throw new Error("start < 0");"
Still having issue with server, last VSCode version on ArchLinux updated with node v7.8.0
[code]

[2017-04-20 17:50] octref commented on #128
Can you help me finding a repro? Try it on some public vue projects like https://github.com/vuejs/vue-hackernews-2.0 or https://github.com/vuejs-templates/webpack and see if the server crashes? If not, can you try to put some code from your codebase to a template project and manage to crash vetur's Language Server?

This is what @The-Smallest did and was extremely helpful for me to fix the previou

[2017-04-20 17:50] octref commented on #127
Can you help me finding a repro? Try it on some public vue projects like https://github.com/vuejs/vue-hackernews-2.0 or https://github.com/vuejs-templates/webpack and see if the server crashes? If not, can you try to put some code from your codebase to a template project and manage to crash vetur's Language Server?

This is what @The-Smallest did and was extremely helpful for me to fix the previou

[2017-04-20 18:36] rafaelpimpa commented on #128
It's crashing for me too, let me see if I can reproduce.

[2017-04-20 18:42] fishke opened #129 "After upgrading to version 0.6.1 the vue server crashes"
I am using Windows 10, and VSCode 1.11.2.

I've upgraded to the latest version (0.6.1) and now i get this error:

    at isNameOfExportsOrModuleExportsAliasDeclaration (C:\Users\tomer\.vscode\extensions\octref.vetur-0.6.1\client\server\node_modules\typescript\lib\typescript.js:23318:46)
    at bindStaticPropertyAssignment (C:\Users\tomer\.vscode\extensions\octref.vetur-0.6.1\client\server\node_mod

[2017-04-20 18:47] octref commented on #129
#127

[2017-04-20 18:47] #129 closed

[2017-04-20 18:59] cynecx commented on #122
Unfortunately, it's still not fixed for me.

[code]

My code base is quite big, so I am not sure what is causing this.

[2017-04-20 19:10] stoked74 commented on #128
It's happening to me as well. I just created a stock asp.net core web api project using the yeoman generator and as soon as I opened the project it it started crashing.

npm install -g yo bower
npm install -g generator-aspnet@0.2.6
yo aspnet

[2017-04-20 19:23] MWallin commented on #127
It crashes for me to:

[code]

I tried downloading the repo https://github.com/vuejs/vue-hackernews-2.0 and that doesn't crash.

I tried doeing what The-Smallest did with a new webpack-simple template and a bad import and that doesn't crash it.

Here is a repo with my project that crashes.

Hope this helps!

[2017-04-20 20:08] MWallin commented on #127
Okay, I've done some more digging on this now and I think that the problem isn't really with vetur or the vue language server exactly.

The project I'm working on is part of an online course and the package.json file I use is part of an assignement from the course. The content was ass follows:

[code]

I thought it funny that a new project worked so I updated with the following:

[code]

And blam,

[2017-04-20 20:34] MWallin opened #130 "Better css experience"
Not sure if it is possible but here are a few suggestions for improvning the css experience:

1. Intellisense for css classes and IDs based on whats in the template.
2. The reverse for above, when adding a class to an HTML element, list the classes defined in the style section.
3. Maybe some handling for external CSS, or not?
4. Also, when using colors in css VS Code usually has a little colorbox

[2017-04-21 00:30] exonuclease opened #131 "server still crashed on 0.6.1 CALL_AND_RETRY_LAST Allocation failed - JavaScript heap out of memory"
FATAL ERROR: CALL_AND_RETRY_LAST Allocation failed - JavaScript heap out of memory
 1: node::Abort() [/usr/share/code/libnode.so]
 2: 0x7f23b86632a7 [/usr/share/code/libnode.so]
 3: v8::Utils::ApiCheck(bool, char const*, char const*) [/usr/share/code/libnode.so]
 4: v8::internal::V8::FatalProcessOutOfMemory(char const*, bool) [/usr/share/code/libnode.so]
 5: v8::internal::Factory::NewFillerObject(

[2017-04-21 01:32] soundtina commented on #131
still creshed!

[2017-04-21 01:47] yangleiStrive opened #132 "#122"

[2017-04-21 01:48] #132 closed

[2017-04-21 02:12] panxiuqing commented on #123
@octref
Update to 0.6.1 doesn't resolve my error , but I find something maybe helpful :
when a project initialized by npm has a sub folder also initialized by npm , open somefile.vue in the sub folder will cause the error , otherwise not

[2017-04-21 02:27] byends commented on #131
+1024

[2017-04-21 02:37] byends commented on #131
at ConnectionError.Error (native)
    at new ConnectionError (C:\Users\BYENDS\.vscode\extensions\octref.vetur-0.6.1\client\node_modules\vscode-jsonrpc\lib\main.js:116:28)
    at throwIfClosedOrDisposed (C:\Users\BYENDS\.vscode\extensions\octref.vetur-0.6.1\client\node_modules\vscode-jsonrpc\lib\main.js:481:19)
    at Object.sendNotification (C:\Users\BYENDS\.vscode\extensions\octref.vetur-0.6.1\cl

[2017-04-21 02:37] byends commented on #131
I can't coding continue.. pls fix it

[2017-04-21 02:39] vv13 commented on #131
still crashed. need your help!

[2017-04-21 02:40] soundtina commented on #123
@panxiuqing  that's the problem!
my project is node web app like this

-- app
----package.json
----service
----static
------bac.vue
------package.json

**when i open static folder in vscode works fine
but when i open App , vls crashed.**

[2017-04-21 02:45] shjyh commented on #127
same. and i use the lastest version of all dependencies, but server still crash.
and strangely enough, the error does not happen immediately when the ide startup, but crash after a few minutes

[2017-04-21 03:20] jing2si commented on #128
[code]

[2017-04-21 05:07] henri-ihalainen commented on #113
It doesn't happen anymore with imported foo() function, but now it happens if you try to go to the definition of bar() method

[2017-04-21 05:16] jing2si commented on #128
I find the crashed reason.
If in a vue file script tag write `import Vue`, that will cause crash.
write`import vue` do not cause crash.
![reason](https://cloud.githubusercontent.com/assets/2288824/25263791/a7f72a60-2694-11e7-93c0-9bedee264cb9.gif)

[2017-04-21 06:16] soundtina commented on #131
just open the **static** folder, don't open the folder that both contain **satic** and **node_modules**

[2017-04-21 06:26] hj2060 opened #133 "cpu"

[2017-04-21 06:26] #133 closed

[2017-04-21 07:46] Ringes commented on #127
I get a crash, unfortunately no logging...after some minutes, vsc gets up to 700MB RAM and 40% processor for some time on a i5 8gb RAM machine, then get a message about the extension host terminating and needing to reload the window. I don't see any logs or anything.

[2017-04-21 08:14] minororange commented on #131
+10086 i need your help @octref

[2017-04-21 09:55] Moerj opened #134 "0.6.1 when use copy hot key. Automatically pops up the error log"
![qq20170421-174513](https://cloud.githubusercontent.com/assets/13795438/25272748/a70f358a-26bb-11e7-9bd6-895495d7c29f.jpg)

when i copy a object name in vue data. the error log will pops up
the vetur version 0.6.1

the previous version 0.6.0 is ok

[2017-04-21 10:08] mgesmundo commented on #131
@octref please fix this!

[2017-04-21 11:32] jbrodriguez commented on #127
Same issues here, high ram and cpu usage, then

[code]

![screen shot 2017-04-21 at 06 31 30](https://cloud.githubusercontent.com/assets/1305422/25275702/2ed08a06-265c-11e7-8d01-af157c81d537.png)

[2017-04-21 12:28] askz commented on #131
@mgesmundo please be nice

[2017-04-21 12:33] c01nd01r commented on #134
+1
<details>
 <summary>My log</summary>
<pre>
[0421/150539:ERROR:tcp_listen_socket.cc(76)] Could not bind socket to 127.0.0.1:6005
[0421/150539:ERROR:node_debugger.cc(86)] Cannot start debugger server
/Users/c01nd01r/.vscode/extensions/octref.vetur-0.6.1/client/server/node_modules/vetur-vls/lib/parser/htmlScanner.js:46
            this.len = source.length;
                             ^

TypeError

[2017-04-21 13:17] frankdugan3 opened #135 "0.6.1 - Vue packages version mismatch"
After upgrading to 0.6.1, I am having a different issue than the other ones posted thus far. The language server crashes with this error stating the the `vue` and `vue-template-compiler` are mismatched versions. I also tried removing and reinstalling the extension to update the dependencies to match, but the mismatch still happens, so it must be an issue with a `package.json` file somewhere.

[cod

[2017-04-21 14:16] octref commented on #135
Do you have `vue-template-compiler` as a dep in your repo?

[2017-04-21 14:23] octref commented on #131
Was able to repro. Looking into it...

[2017-04-21 14:27] octref commented on #134
Can't repro it. Can you two try to find a minimal repro case and paste the code here?

[2017-04-21 14:50] octref commented on #123
@panxiuqing @soundtina I can't repro it. Can you make a small repo that demonstrates the problem and upload it to GitHub so I can debug?

[2017-04-21 14:57] octref commented on #127
@MWallin Your project: https://github.com/MWallin/WonderfulQuotes doesn't crash for me though.

[2017-04-21 15:01] octref commented on #128
@jing2si

Thanks! I'm able to repro it. Will look into a fix soon.

[2017-04-21 15:06] octref opened #136 "Master Issue for Language Server Crash"
First, sorry for the LS crashes.

Here is 0.5.6 in case people need to do work: [vetur-0.5.6.vsix.zip](https://github.com/octref/vetur/files/947389/vetur-0.5.6.vsix.zip).
Instruction: https://code.visualstudio.com/docs/editor/extension-gallery#_install-from-a-vsix

I'll be traveling during weekend, so I don't think all crashes can be resolved until Monday.

With that being said, here is a guidelin

[2017-04-21 15:10] octref commented on #130
1, 2, 3 are all on the plan https://github.com/octref/vscode-tachyons/issues/3#issuecomment-287579770

For 4 see #28.

[2017-04-21 15:18] Moerj commented on #134
![qq20170421-231731 2x](https://cloud.githubusercontent.com/assets/13795438/25284171/cd757dd8-26e8-11e7-9e00-ef354ed69ec6.jpg)

`<style lang="scss">
    .msgContent{
        border: 1px solid #eee;
        margin-top: 15px;
        color: rgba( black, .5);

            text-align: center;
            padding: 15px;
        }
    }
</style>

<template>
    <div>
        <el-tabs v-model="activeMail

[2017-04-21 15:20] Moerj commented on #134
[mail.vue.zip](https://github.com/octref/vetur/files/947502/mail.vue.zip)

[2017-04-21 15:24] sandersn commented on #128
It's because vetur 0.6 inserts a hidden `import Vue from 'vue'` for you. I forgot that people might still want to write it explicitly. In that case, it should not insert a hidden one.

[2017-04-21 15:26] sandersn commented on #136
#128 comes from the hidden, inserted `import Vue from 'vue'` conflicting with an `import Vue` written by the user. (Based on my knowledge of the code &mdash; I haven't reproed it yet.)

[2017-04-21 15:27] sandersn commented on #135
#94 adds a dependency on vue-template-compiler for vetur. It's shrinkwrapped to 2.2.1. I guess that's what is causing the mismatch, but I'm not sure how to resolve it. (I'm also not sure why it says 2.2.6)

I remember seeing that dependencies needed to be treated specially by VS Code extensions, so maybe that is the first place to look.

[2017-04-21 15:29] sandersn commented on #136
#127 and #135 seem to be caused by incorrect setup of vetur's dependency on vue-template-compiler. It is likely that I didn't set up this dependency correctly, which is why @MWallin was able to work around the problem by installing vue-template-compiler as part of their own package.

[2017-04-21 15:34] octref commented on #136
Yea I also see #128 coming from there. As for #135, @MWallin seems to be using `vue-template-compiler` as a devDeps and that somehow have an effect on vetur's LS.

[2017-04-21 15:35] sandersn commented on #136
Looks like `package.json` at root needs to add a dependency on `vue-template-compiler` according to https://code.visualstudio.com/docs/extensionAPI/extension-manifest

[2017-04-21 15:36] Moerj commented on #134
Moerj/GOPIGGY
this is my project. Hope it can help you.

[2017-04-21 15:38] sandersn commented on #136
It's probably as simple as adding

[code]

in the middle of the root `package.json`. I'm not sure how to test it though.

[2017-04-21 15:40] octref commented on #136
Also, think we should limit the files to do module resolution for limited to only `.vue` file.

Why so? I'm compiling `/server` into `/client`, and then publishing the whole thing. So `vue-template-compiler@2.2.1` should already be included in the LS.

[2017-04-21 15:49] frankdugan3 commented on #135
I do have `vue-template-compiler` as a dep in my app, and it's at version `2.2.6` which matches my version of `vue`. Since `vetur` has it's own version and `node_modules` directory, shouldn't it be isolated from mine?

[2017-04-21 15:49] sandersn commented on #136
I was guessing based on the failing behaviour; it seems like user dependencies on `vue-template-compiler` (or lack of dependency) affects whether the extension crashes or not. vetur's installation of `vue-template-compiler` should be independent of whether the user project has a dependency on it. And adding it to the extension manifest (what VS Code calls the root package.json) seems like exactly

[2017-04-21 15:50] sandersn commented on #135
Yes, I think that's the bug. I think that `vue-template-compiler` isn't installed as dependency in `vetur`'s `node_modules`, so module resolution ends up finding it in yours instead.

[2017-04-21 15:51] sandersn commented on #136
Do you mean that only `import X from 'x.vue'` should work and not `import Y from 'someJavascript'`? What about things like `import _ from 'jquery'` and other common libraries?

[2017-04-21 15:58] octref commented on #136
I'll do that, package it as vsix and ask people who have problems to try it again.

I meant this function https://github.com/octref/vetur/blob/master/server/src/modes/javascriptMode.ts#L89-L109

is even trying to resolve js files like `webpack.config.js`. As VSCode's js/ts LS already handles that, I think it makes sense if we just resolve modules from `.vue` files, instead of `.vue` and `.js` file

[2017-04-21 16:14] sandersn commented on #136
The problem with that code path is that it has no real way to say "I don't handle these kinds of files", so it has [to do the fallback itself](https://github.com/octref/vetur/blob/master/server/src/modes/javascriptMode.ts#L93-L94):

[code]

But `ts.resolveModuleName` should behave exactly the same way as the default implementation of `resolveModuleNames`, so there shouldn't be any change in the wa

[2017-04-21 16:19] octref commented on #135
Sorry my bad -- messed up the server versions when publishing. If you try:

[code]

Should report `vue-template-compiler@2.2.6`.

But this

[code]

Should report `vue-template-compiler@2.2.1`.

[2017-04-21 16:22] jonthegiant commented on #136
Any chance that this stacktrace is related to the issue?

[code]

[2017-04-21 16:26] octref commented on #135
Can you try if this works for you?

[vetur-0.6.2.vsix.zip](https://github.com/octref/vetur/files/947677/vetur-0.6.2.vsix.zip)

[2017-04-21 16:26] octref commented on #127
Can you try if this works for you?

[vetur-0.6.2.vsix.zip](https://github.com/octref/vetur/files/947677/vetur-0.6.2.vsix.zip)

[2017-04-21 16:26] jonthegiant commented on #136
@octref

Can do, just wasn't sure if this required it's own issue.

[2017-04-21 16:27] octref commented on #136
@jonthegiant Haven't seen similar error before so it's worth one.

[2017-04-21 16:38] frankdugan3 commented on #135
Still get the mismatch because `vue` is at `2.1.10`:

[code]

[2017-04-21 16:40] octref commented on #136
@sandersn

I meant the `containingFile` here only be `.vue` files.

[code]

Requiring `.js` files in `.vue` files should certainly be supported.
But I don't see the use of, say, resolve the `require('path')` in a user's `webpack.config.js`.
I'm mainly worried since there are reports about CPU and ram usage https://github.com/octref/vetur/issues/127#issuecomment-296167511 and https://github.com/oct

[2017-04-21 16:48] octref commented on #135
Seems `vue-template-compiler` needs to be the same version as `vue`.

Curious what's your project doing that it has to use `vue-template-compiler` instead of `vue-loader`?

[2017-04-21 16:49] jonthegiant opened #137 "Possible error in dependency 'vscode-jsonrpc'"
Not entirely sure this is the fault of vetur, so apologies if it turns out not to be.
This error is thrown randomly after loading the repo, and or reloading the workbench.

Unfortunately I can't include a reproducible case because the repo is a large internal project.

**No other Vue extensions are installed.**
[code]

Followed by...
[code]

![image](https://cloud.githubusercontent.com/assets/5591

[2017-04-21 17:09] frankdugan3 commented on #135
It's been a long time since I set it up, but I think the reason was that I was having version mismatches with `vue-loader`, so I had to explicitly declare the version I wanted. I was also experimenting with separating the js from the template. I just tried removing `vue-template-compiler` from my `package.json` and reinstalling all my modules, but my webpack setup didn't like it, so I'll have to l

[2017-04-21 17:17] frankdugan3 commented on #135
Note: The official webpack template (including the simple version) also includes `vue-template-compiler` in its `package.json`. It may simply be needed when using webpack.

[2017-04-21 17:33] sandersn commented on #136
Oh, I see. A user might have `giantFile.js` open in one buffer, which is using VS Code's instance of the TS language service. Then when they do `import X from 'giantFile'` in a `.vue` file, Vetur's instance of the TS language service will go off and *also* analyse `giantFile.js`.

[2017-04-21 17:44] sandersn commented on #136
I think there may be some tsconfig settings to limit how deeply the compiler follows module resolution inside `node_modules`.

[2017-04-21 17:48] sandersn commented on #135
I think this would probably be solved by adding `vue-template-compiler` to the extension's package manifest, similar to the other bugs linked from #136.

[2017-04-21 18:57] coderdiaz commented on #126
@octref Thanks

[2017-04-21 18:57] MWallin commented on #127
@octref I updated the devDependencies for the project I linked to, WonderfulQuotes, by accident so it doesn't crash anymore for me either. Sorry for that!

However I have another project that crashes the same way here https://github.com/MWallin/ColorComponents.

I tried 0.6.2 and no change, it still crashes.

[2017-04-21 19:00] MWallin commented on #136
Don't know if its relevant or not, but I didn't really install `vue-template-compiler` myself. It was a part of the webpack-simple CLI template. Might that perhaps be part of why its hard to isolate whats wrong, lots of different ways to setup your projects...

[2017-04-21 19:10] MWallin commented on #130
Superb on 1, 2, 3. Would really make my life easier as an advanced rookie. Not sure however if you mean it will be a part of vetur or not?

I understand your resoning behind #28, not sure if I agree though. The referenced extension works equally well so I don't really mind.

[2017-04-21 19:14] brianjorden opened #139 "Small issue with commented out <script> tags"
First off, this is something silly I was struggling with and really shouldn't be a common or typical issue that people run into, but I'd rather save others the time/effort/frustration by mentioning it.

There seems to be an "issue" where a `<script>` or `</script>` tag appears in a commented out section within the regular script block. I haven't completely tested the different scenarios, but when

[2017-04-21 19:29] brianjorden opened #140 "Some of the Typescript not respecting noImplicitAny from project tsconfig.json file"
It seems there is a slightly inconsistent behavior of Typescript parsing and the usage of the project's local tsconfig.json settings. The part I've really noticed is the noImplicitAny flag being interpreted in some, but not all places. The screenshot below shows a couple arbitrary function definitions inside and outside a component's `export default`. Based on reading some of the comments in the T

[2017-04-22 02:51] hj2060 opened #141 "0.6.1 code helper cpu occupied 100% on mac. My English is not very good ,sorry"

[2017-04-22 07:31] exonuclease commented on #136
When i open the project folder contained node_modeules the error message is JavaScript heap out of memory and if i open the components folder the error message is start < 0.it is strange

[2017-04-22 13:23] octref commented on #141
Open general issue at https://github.com/Microsoft/vscode

WIthout any info I can't help you further.

[2017-04-22 13:23] #141 closed

[2017-04-24 02:34] lyn-ho opened #143 "The Vue Language Server server crashed"
[code]

[code]

[2017-04-24 03:45] musishui opened #144 "After I update 0.6.1 version and submit them to the following error"
C:\Users\Jusfoun\.vscode\extensions\octref.vetur-0.6.1\client\server\node_modules\typescript\lib\typescript.js:10566
            throw new Error("start < 0");
            ^

Error: start < 0
    at createTextSpan (C:\Users\Jusfoun\.vscode\extensions\octref.vetur-0.6.1\client\server\node_modules\typescript\lib\typescript.js:10566:19)
    at Object.createTextSpanFromBounds (C:\Users\Jusfoun\.vscode\

[2017-04-24 03:55] minororange commented on #143
+10086

[2017-04-24 04:57] yulin724 commented on #144
mee too

[2017-04-24 06:34] qiming-kooboo commented on #143
+10010

[2017-04-24 09:30] MoonBottle commented on #143
+10010

[2017-04-24 09:50] Deguang commented on #143
+ 10000

[2017-04-24 09:50] Deguang commented on #143
+10000

[2017-04-24 11:53] BelinChung commented on #143
Until the author fixes these problems, maybe we can use the old version to develop.
`extensions` - `Install from vsix`
[vetur-0.5.6.vsix.zip](https://github.com/octref/vetur/files/951581/vetur-0.5.6.vsix.zip)

[2017-04-24 13:37] #143 closed

[2017-04-24 15:55] aherreraGH commented on #144
ditto... just updated today and the stacktrace is the same as provided above.

[2017-04-24 16:52] rhyek commented on #144
Same.

[2017-04-24 18:07] lucastheisen commented on #144
This is related to #136, so we need to come up with steps to reproduce...  I'll give it a try...

[2017-04-24 18:09] aherreraGH commented on #144
looks like it was resolved in #128 something about importing vue twice.

[2017-04-24 18:55] mattiasholmqvist commented on #123
I have the same issue as @askz after upgrading to 0.6.1 (on Mac).

`Error: start < 0
    at createTextSpan (/Users/mattias/.vscode/extensions/octref.vetur-0.6.1/client/server/node_modules/typescript/lib/typescript.js:10566:19)
    at Object.createTextSpanFromBounds (/Users/mattias/.vscode/extensions/octref.vetur-0.6.1/client/server/node_modules/typescript/lib/typescript.js:10575:16)
    at getErro

[2017-04-25 01:20] BelinChung commented on #144
Until the author fixes these problems, maybe we can use the old version to develop.
extensions - Install from vsix
[vetur-0.5.6.vsix.zip](https://github.com/octref/vetur/files/953624/vetur-0.5.6.vsix.zip)

[2017-04-25 03:12] #128 closed

[2017-04-25 03:20] octref commented on #144
Dup of #128.

Can you try installing 0.6.2 and see if the problem is gone?

[2017-04-25 03:20] #144 closed

[2017-04-25 03:21] octref commented on #128
@jing2si Thanks for the repro.

For people having this problem, 0.6.2 is published with @sandersn's fix. Please give it a try.
@jing2si's case is resolved by 0.6.2 at least.

[2017-04-25 03:25] octref commented on #140
Would you mind sharing the test project with me?

[2017-04-25 03:34] musishui commented on #144
@aherreraGH Thanks.

According to what you say, my problem is resolved.I'm in. Vue file reference vue module, led to this error.

[2017-04-25 03:39] octref commented on #139
`vue-template-compiler` doesn't support such use cases (embedded `<script>`, even in comments). So vue itself wouldn't support such a feature either.

[2017-04-25 03:39] #139 closed

[2017-04-25 03:39] octref commented on #139
The correct way to use `<script>` for loading other files is either to
- Specify it in the outer region, not inside another `<script>`
- Require / import it in the `<script>` region

[2017-04-25 03:40] octref commented on #144
Can you try 0.6.2 with `import Vue from 'Vue'`? This should be supported with 0.6.2.

[2017-04-25 03:44] octref commented on #137
If there is no repro case there isn't much I can do...

Does this happen immediately after you load the project, or is it after a while (if that's the case it might have something to do with the module resolution)?

I'll keep an eye while working on Vue projects with vetur to see if this happens to me.

[2017-04-25 03:49] octref commented on #136
`start < 0` should be fixed with 0.6.2. Heap problem seems unresolved yet -- see #131.

[2017-04-25 03:49] #136 closed

[2017-04-25 03:49] octref commented on #135
@frankdugan3 Can you upgrade to 0.6.2 and see if that solves your problem?

[2017-04-25 03:50] octref commented on #127
Can you upgrade to 0.6.2 (published in marketplace) and see if that fixes the problem for you?

[2017-04-25 03:52] octref commented on #134
I tried vetur with your project, still can't repro...
Does 0.6.2 have any effect with this bug?

[2017-04-25 04:14] octref commented on #110
AAGUID is part of TS's DOM api: https://github.com/Microsoft/TypeScript/blob/master/lib/lib.dom.d.ts

So while it's not commonly used, we can't blame TS for having it in IntelliSense.

What you were describing sounds like a VSCode issue with its IntelliSense. Can you try the latest version and see if it's resolved already?

[2017-04-25 04:19] #93 closed

[2017-04-25 05:09] octref opened #145 "Extract props / data / methods info from Component to power template IntelliSense"
- Provide suggestion based on Component attributes for `v-if`, etc
- Provide `v-on` like `@click`, `@click.stop`
- Support built-in components such as `<component>`, `<transition>`, etc

[2017-04-25 05:27] octref opened #146 "Reload LS server when new modules are installed"
So users don't have to reload workspace after installing a new module.

[2017-04-25 05:41] ppasieka opened #147 "Extension host terminated unexpectedly [0.6.2]"
It happed in version 0.6.2

I'm assuming that problem has it roots in my workspace setup which is very big [old] hybrid
- use babel in connection with vue
- I also use Typescript in part of the solution

So in my packages.json you will find babel and typescript packages. I also have .babelrc and tsconfig.json next to each other.

1. When I open vue file and try to trigger intellisense (Ctrl + Spac

[2017-04-25 06:14] brianjorden commented on #139
Really not a big deal or issue to me, but just for clarity, the code compiles and works without issue if a <script> tag is commented out, but it is just knocking down the language server stuff it seems. Part of the reason for opening an issue was to mention it as something to be aware of in case there were any other related issues.

[2017-04-25 06:41] BelinChung commented on #147
VLS error log (vetur v0.6.2)
[code]

[2017-04-25 06:53] jpillora opened #148 "Cannot start debugger server"
In VS Code "Output" tab, when I select `Vue Language Server`, I see:

[code]

[2017-04-25 08:24] csicky commented on #110
Still happening and is starting to get in the way of normal work. I am always stopped by it and must press esc to get rid of it.
Why are not more people complaining about this?
Reported to VS Code too. https://github.com/Microsoft/vscode/issues/25275

[2017-04-25 08:44] jing2si commented on #148
I have the same problem.
### My environment
* vscode version: 1.11.2
* vetur version: 0.6.2
* OS: windows 10
### My repro step
1. I create two folder, then create a empty vue file separately in folder.
2. I drag one folder into vscode, then i create new vscode window(File > New Window).
3. I drag the other folder into new vscode window, then open the vue file, the `Cannot start debugger server` wi

[2017-04-25 11:20] BlueGene89 opened #149 "Error: vue packages version mismatch"
Error:

Vue packages version mismatch:

- vue@2.2.6
- vue-template-compiler@2.2.1

This may cause things to work incorrectly. Make sure to use the same version for both.
If you are using vue-loader@>=10.0, simply update vue-template-compiler.
If you are using vue-loader@<10.0 or vueify, re-installing vue-loader/vueify should bump vue-template-compiler to the latest.

    at Object.<anonymous> (C:\

[2017-04-25 13:13] ronjouch commented on #128
0.6.2 fixed it for me too, thanks! 👍

[2017-04-25 13:25] frankdugan3 commented on #135
Still having the same crash, still the same version mismatch. Here's my best guess at what's happening: I did not see `vue` specified in any `package.json` files. `vue-template-compiler` is listed and locked to version `2.2.1`. Since the `vue` version isn't specified, something else is pulling in whatever version it prefers. I think `vue` needs to be added to the `package.json` with a matching ver

[2017-04-25 14:12] jonthegiant commented on #137
Understandable. To answer your question it happens ~2-5minutes after loading & opening the project folder in VS Code.

[2017-04-25 14:36] Moerj commented on #134
And did not solve the problem😔

![qq20170425-223347 2x](https://cloud.githubusercontent.com/assets/13795438/25390978/a640a64e-2a07-11e7-9cf9-a926993300c4.jpg)

[2017-04-25 14:40] Moerj commented on #134
By the way. I use macOS and Chinese system language. Is it a system problem?

[2017-04-25 14:47] Moerj commented on #147
me too

[2017-04-25 14:59] Moerj commented on #134
where can I download the 0.5.6 version? I can not work for the current version.

[2017-04-25 15:08] octref commented on #134
https://github.com/octref/vetur/files/947389/vetur-0.5.6.vsix.zip

[2017-04-25 15:09] mehyaa opened #150 "An option to use "js-beautify" for js files"
Hi,

Can you add an option to set js formatter to "js-beautify"?

[2017-04-25 15:10] Moerj commented on #134
ok i got it. thanks

[2017-04-25 15:11] mehyaa opened #151 "Use .jsbeautifyrc for "js-beautify" settings if exists"
Hi,

Can you use .jsbeautifyrc file in project to format code when formatting with "js-beautify" instead of using extension settings?

[2017-04-25 15:12] octref commented on #137
We'll improve the module resolution as it's also causing #131. I'll ping you back once we update the module resolution.

[2017-04-25 15:13] Moerj commented on #134
You need to be replicated many times to reproduce the problem

[2017-04-25 15:16] octref commented on #135
@frankdugan3 Can you post the crash log? Does it still say `vue-template-compiler` 2.2.6 or now it's 2.2.1?

So you are saying you install matching versions of `vue` and `vue-template-compiler` in your object, and this crash doesn't happen to you?

[2017-04-25 15:20] octref commented on #110
Try removing `vue-snippets`.

[2017-04-25 15:20] octref commented on #151
No. A lot of the settings doesn't make sense in the context for vue files so I only expose a part of them.

[2017-04-25 15:20] #151 closed

[2017-04-25 15:21] octref commented on #150
This extension doesn't deal with js files.

[2017-04-25 15:21] #150 closed

[2017-04-25 15:23] octref commented on #149
Dup of #135.

[2017-04-25 15:23] #149 closed

[2017-04-25 15:27] frankdugan3 commented on #135
When I specify matching versions of `vue` and `vue-template-compiler` in my project, the *project* doesn't crash. This plugin still does. I think the reason is that the plugin itself isn't specifying it's own matching version of `vue`. Again, I'd like to note that the version of `vue` reported in the crash is not the version I have installed for my project, so something else is pulling in that dep

[2017-04-25 15:39] sandersn commented on #135
@octref do you think it's worth adding `vue` to the extension manifest as well? I didn't think it was necessary since it's not listed in npm-shrinkwrap of either client or server.

[2017-04-25 16:10] octref commented on #135
@sandersn
`vue-template-compiler`'s `index.js`:

[code]

Think a better way is to remove this check and include `vue-template-compiler`'s code directly (or use a fork of it).

I feel it's not worth it to add `vue` to just circumvent this error checking.

[2017-04-25 16:12] sandersn commented on #135
Yes, I think copying vue-template-compiler's code is the best fix for right now. Maybe later we can contribute an improvement to vue's package structure or its version detection.

[2017-04-25 16:15] octref commented on #135
Sounds good. From vetur's perspective:
- If `vue-template-compiler` is present in project workspace, use it
- Otherwise use our modified `vue-template-compiler` without the version match check

[2017-04-25 16:16] sandersn commented on #135
I don't have time to do it right now, though. Do you have time?

[2017-04-25 16:17] octref commented on #135
It's fine I'll do it tonight.

[2017-04-25 17:03] rafaelpimpa opened #152 "Request textDocument/hover failed"
The only vue extension I have is vetur.

I'm constant getting this error when hovering props/methods/etc:

[code]

Anything I'm missing?

[2017-04-25 17:25] adamgoose commented on #99
Bump?

[2017-04-25 22:12] cynecx commented on #128
It seems to be fixed but I am experiencing abnormal performance issues. For example, if auto-complete is triggered it shows a loading sign which stays for some seconds until the auto-complete dialog shows up. Is anyone else experiencing this?

Also is it normal that the vetur server process uses like 1-2GiB ram?

[2017-04-25 22:29] octref commented on #128
@cynecx That's not normal. I'm looking into that in #131.

[2017-04-25 22:38] csicky commented on #110
I disabled Vetur. Installed back Vue snippets. `AAGUID` is not appearing anymore. Even if I type `AA` I don't get it. Seems like Vetur is bringing some IntelliSense into scope which should not be there. Too bad because I really like that Vetur indents my code on save, a feature I find very important.

[2017-04-26 01:30] yeluoqiuzhi opened #153 "postcss checking in v0.6.2 is wrong !"
I used [postcss-salad](https://github.com/ElemeFE/postcss-salad), It just a postcss plugin bundle...

It isn't standard css and It needn't to be checked.  I Just want to **disable css checking**, How should I do ?

Error like this (v0.6.2):

![image](https://cloud.githubusercontent.com/assets/9261562/25414176/922c2d94-2a62-11e7-808e-a736587f7201.png)

You can look at [postcss-bem](https://github.c

[2017-04-26 01:54] bannermiao commented on #134
I have the same problem
GIF: http://www.ms580.cn/1.gif

[2017-04-26 03:42] Deguang opened #154 "Request textDocument/definition failed."
[Error - 8:46:27 PM] Request textDocument/definition failed.
  Message: Request textDocument/definition failed with message: Cannot read property 'length' of undefined
  Code: -32603
/Users/***/.vscode/extensions/octref.vetur-0.6.2/client/server/node_modules/vetur-vls/lib/parser/htmlScanner.js:46
            this.len = source.length;
                             ^

TypeError: Cannot read property

[2017-04-26 08:06] mattiasholmqvist commented on #123
Thanks for pushing 0.6.2! It fixed my crash issue.

[2017-04-26 11:07] octref commented on #154
Dup of #134.

[2017-04-26 11:07] #154 closed

[2017-04-26 13:21] MWallin commented on #127
Sorry, no luck with the upgrade. I even reinstalled the extension to make sure I got the right 0.6.2 update.

This is the error message now:

[code]

[2017-04-26 13:41] cubodehelio opened #155 "The Vue Language Server server crashed 5 times in the last 3 minutes."
**v0.6.2**

After update to **v0.6.2** the server crashes over and over again no matter what.

[code]

[2017-04-26 14:39] icehaunter opened #156 "[0.6.2] Vue language server crashes extremely often"
This is the error log:
[code]

[2017-04-26 14:41] icehaunter commented on #148
Same problem, but for file editing in general (#156) and on 0.6.2

[2017-04-26 15:03] mehyaa commented on #150
I'm talking about formatting of **embedded js** under **script** part of *.vue files which are formatted by "TypeScript's language service" as of now. Not plain js files.

[2017-04-26 15:06] mehyaa commented on #151
Isn't it easier using a seperate file which "js-beautify" can use directly, instead of wrapping and exposing your own settings?

[2017-04-26 15:19] octref commented on #151
Only a subset of these settings make sense for vue.
People will open issues like "why this setting has no effect".
And the js setting is based on TypeScript's formatter, not `js-beautify`.

[2017-04-26 15:22] octref commented on #150
I can possibly add it in the future but it's of pretty low priorities now compared to other issues.

[2017-04-26 15:34] cjw1115 opened #157 "cpu usage rate is too high"

[2017-04-26 15:38] #157 closed

[2017-04-26 16:09] chanon commented on #155
I am having this same crash (since 0.6.1)

[2017-04-26 16:31] octref commented on #135
Published with 0.6.3, but without the part of using `vue-template-compiler` from users' workspace.

[2017-04-26 16:31] #135 closed

[2017-04-26 16:37] frankdugan3 commented on #135
Resolves my issue. Thank you for the hard work, this was a tricky one!

[2017-04-26 18:09] octref commented on #127
@MWallin Do you mind trying 0.6.3 on ColorComponents? There is a fix including `vue-template-compiler`.

This seems dubious:

### WonderfulQuotes

- Has `vue-template-compiler`
- Not crashing

### ColorComponents

- Doesn't have `vue-template-compiler`
- Crashing

[2017-04-26 19:03] sebastianmacias commented on #156
Same here, keep having to go back to vetur 0.5.6

[2017-04-26 19:48] corsen2000 opened #159 "TypeScript global declarations handled inconsistently with actual build"
I am using Vetur with a Nuxt.js Vue project that is using TypeScript. The project uses Webpack and `ts-loader`.

One of my `.vue` files is making reference to `this.$router`. Vetur is showing an error on that line that reads `Property $router does not exist on the type default`. When I run the build there is no error. So there is a difference in what I am seeing in the editor vs. the errors my bui

[2017-04-26 20:34] vip32 opened #160 "Language Server doesn't initialize correctly when opening single vue file with no workspace"
this error occurs as soon as i switch the demo file to type vue

[Error - 10:32:36 PM] Server initialization failed.
  Message: Request initialize failed with message: Cannot read property 'substr' of null
  Code: -32603

[2017-04-26 20:40] octref commented on #160
Please provide vetur and vscode version and complete error log.

[2017-04-26 20:43] vip32 commented on #160
vscode 1.112
vetur 0.6.3

this is all from the output window:
[Error - 10:32:36 PM] Server initialization failed.
  Message: Request initialize failed with message: Cannot read property 'substr' of null
  Code: -32603

[2017-04-26 20:47] octref commented on #160
Do you have any jsconfig or tsconfig files in your workspace?

[2017-04-26 20:48] vip32 commented on #160
not really, just opening a single vue file without a complete project.

[2017-04-26 20:51] octref commented on #160
I can repro it thanks.

[2017-04-26 21:12] octref commented on #131
Can people having problem try this:

- Create a `tsconfig.json` or `jsconfig.json` file in your project root
- Put this in it

[code]

Does your project still crash?

[2017-04-26 21:25] octref commented on #159
Can you provide:

- Screenshot
- vetur version
- vue-router and vue versions
- your tsconfig

With the correct setup you should even have full IntelliSense for `this.$router` and `this.$store` (for vuex)

![image](https://cloud.githubusercontent.com/assets/4033249/25457691/233e084c-2aa5-11e7-9157-16f2f93a543c.png)

![image](https://cloud.githubusercontent.com/assets/4033249/25457703/2e471684-2aa5-

[2017-04-27 01:15] jing2si opened #162 "[0.6.3] Could not bind socket to 127.0.0.1:6005, Cannot start debugger server"
@octref
**vetur 0.6.3** still have the same problem.
[code]
### My environment
* vscode version: 1.11.2
* vetur version: **0.6.3**
* OS: windows 10
### My repro step
1. I create two folder, then create a empty vue file separately in folder.
2. I drag one folder into vscode, then i create new vscode window(File > New Window).
3. I drag the other folder into new vscode window, then open the vue file

[2017-04-27 01:21] Moerj commented on #134
0.6.3 also have this problem

[2017-04-27 01:31] exonuclease commented on #131
@octref I have created jsconfig.json and  still crash

[2017-04-27 01:32] octref commented on #131
@exonuclease How large is your project?
Do you have any sub-project that also has `node_modules` in it?

[2017-04-27 01:39] exonuclease commented on #131
@octref Umm...more than ten .vue files not very large
No and i also add files.exclude to my settings.json it still doesn't work

[2017-04-27 01:40] octref commented on #131
@exonuclease
Is your project secret or do you mind sharing with me?

[2017-04-27 01:43] exonuclease commented on #131
@octref sorry it is secret.
I will try to find an open resource project that can cause this

[2017-04-27 01:47] octref commented on #131
@exonuclease That'd help a lot, thanks!

[2017-04-27 02:01] #148 closed

[2017-04-27 02:01] #162 closed

[2017-04-27 02:07] exonuclease commented on #131
@octref this project https://github.com/mrgodhani/rss-reader
run npm install and open .vue file it caused another error...
/home/guoyifan/.vscode/extensions/octref.vetur-0.6.3/client/server/node_modules/typescript/lib/typescript.js:23318
                var symbol = container.locals.get(node.text);
                                             ^

TypeError: Cannot read property 'get' of undefined

[2017-04-27 03:09] octref commented on #155
Are you opening vue files outside your workspace?

[2017-04-27 03:14] octref opened #163 "Switch to yarn"
no more npm pain

[2017-04-27 03:15] octref commented on #153
Will add option later.

[2017-04-27 03:15] octref commented on #152
Please provide:

- vetur/vscode version
- a screenshot or gif showing the error

[2017-04-27 03:17] yeluoqiuzhi commented on #153
Thanks.

[2017-04-27 03:44] chanon commented on #155
For me, no. It happens with any .vue file in my workspace / project.

[2017-04-27 03:45] chanon commented on #155
Not sure if it is related, but here is my tsconfig.json
[code]

[2017-04-27 04:16] #131 closed

[2017-04-27 04:17] octref commented on #131
The problem is you have `app/node_modules` which gets module resolved...
But now vetur should handle `node_modules` even if it's not in top directory.
Wait for 0.6.4.

[2017-04-27 04:22] octref commented on #156
Dup of #131. Should be fixed in 0.6.4.

[2017-04-27 04:22] #156 closed

[2017-04-27 04:26] octref commented on #137
Try 0.6.4 with updated module resolution and see if it's resolved.

Might also be related to #160 as that's also `vscode-jsonrpc`.

[2017-04-27 04:29] octref commented on #159
And just for record, we are not using much options from users's `tsconfig.json` yet. There is no established practice of using `tsconfig.json` or `jsconfig.json` to specify how the js/ts in Vue SFC should behave, yet. And if vetur were to do so, I'll try to ask for some Vue members' opinions first before encouraging such a practice.

[2017-04-27 04:29] octref commented on #155
Can you
- Try if 0.6.4 works for you
- If not, remove `tsconfig.json` temporarily and see if it still crashes

[2017-04-27 06:13] octref commented on #140
Also see https://github.com/octref/vetur/issues/159#issuecomment-297608690

[2017-04-27 06:14] exonuclease opened #164 "Lazy module resolution to constrain memory and cpu usage"
FATAL ERROR: CALL_AND_RETRY_LAST Allocation failed - JavaScript heap out of memory
 1: node::Abort() [/usr/share/code/libnode.so]
 2: 0x7ffba8f9e2a7 [/usr/share/code/libnode.so]
 3: v8::Utils::ApiCheck(bool, char const*, char const*) [/usr/share/code/libnode.so]
 4: v8::internal::V8::FatalProcessOutOfMemory(char const*, bool) [/usr/share/code/libnode.so]
 5: v8::internal::Factory::NewRawOneByteStr

[2017-04-27 06:16] octref commented on #164
How many `node_modules` folders do you have in your project and where are they?

[2017-04-27 06:19] exonuclease commented on #164
I have only 1 in root. but I use cnpm so each package will have its own node_modules folder.

[2017-04-27 06:22] octref commented on #164
Can you show me a rough structure of your project? I've never used cnpm I'd like to know the path of all `node_modules` in your workspace.

[2017-04-27 06:28] exonuclease commented on #164
like this
projectroot
projectroot/node_modules
projectroot/node_modules/
projectroot/node_modules/axios
projectroot/node_modules/axois/node_modules
in root/node_modules/axois/node_modules there are many symbolic link to ._xxxx@xxxx which contain the package files.
I think cnpm use this to handle packages that require different versions of dependence.

[2017-04-27 06:29] yeluoqiuzhi commented on #103
But **decorator** in babel or typescript is not standard relatively to latest  ECMAScript standard.

I think you can pending this feature until stable **decorator** has released.

[2017-04-27 06:47] octref commented on #164
Oh, the old npm2 type dependency...I'll take a look tomorrow.

[2017-04-27 06:48] leaves4j commented on #155
same problem with 0.6.4
[code]

[2017-04-27 07:06] chanon commented on #155
I get the same style of exception in 0.6.4:
`Could not find file: 'd:\path\to\existing\ComponentThatIAmViewingInVSCodeTab.vue'`

HOWEVER if I delete tsconfig.json, it works! I get working typescript code completion in .vue files (amazing!)

But of course, I need my tsconfig.json ... so it seems like there is a setting in there that is causing this.

[2017-04-27 07:15] chanon commented on #155
Update:

I found that this works:
[code]

But this doesn't. (It will cause the the `Could not find file` exception):
[code]

So I had an idea and tried this:
[code]
(added `"src/**/*.vue"` to `include`)

And it works!
I'm not sure how adding that will affect normal typescript compilation / the webpack build though.

[2017-04-27 07:22] chanon commented on #155
It might be good if the .vue files are automatically included somehow.

First impressions after getting the typescript intellisense working in .vue files is that now the only thing missing thing seems to be the 'Cannot find module' errors when importing .vue components

[2017-04-27 10:12] ppasieka commented on #147
I followed steps presented by @chanon in #155 issue and setting proper include array in tsconfig.json solve crashing server problem

Now question is if it is possible to set custom tsconfig.json file in workspace.

[2017-04-27 10:52] zhanziyang opened #165 "Stylus intelliSense support"
I have installed both vetur and language-stylus plugins. It seems that there is no intelliSense for embedded stylus in vue file. Is there a configuration for this? or is it just not supported yet?

[2017-04-27 12:49] octref commented on #165
Dup of #55 search before posting thanks.

[2017-04-27 12:49] #165 closed

[2017-04-27 13:13] corsen2000 commented on #159
@octref thanks for taking a look at this issue. If you would like, I can provide exactly what you requested, but I think I have something better to help.

This issue can easily be reproduced by using this [Vue CLI Package](https://github.com/johnlindquist/nuxt-typescript-starter/tree/68de6e67b75d275f375f4d8c41ed7229430c1f05), which is a newly created Nuxt/TypeScript starter project.

If you setup

[2017-04-27 15:09] cubodehelio commented on #155
I had the same problem even after update to **0.6.4** but seems like @chanon solution above that includes `src/**/*.vue` (`jsconfig.json` in my case) solves the issue.

[2017-04-27 23:16] octref commented on #164
@exonuclease Doesn't happen to me on 0.6.4.

First, do you have `tsconfig.json` or `jsconfig.json` in your project? If so, can you try temporarily removing them and see if it still crashes?

If it crashes, can you also try this:

- `cd ~/.vscode/extensions/octref.vetur-0.6.4/client/server/modes`
- Open the `javascriptMode.js` file, go to line 56 like this:
  ![image](https://cloud.githubuserconten

[2017-04-27 23:23] octref commented on #160
The problem is `workspacePath` can be null when people open single file without workspace in VSCode in here:

https://github.com/octref/vetur/blob/master/server/src/modes/javascriptMode.ts#L55-L66

[2017-04-27 23:23] octref commented on #160
@mjbvz Curious if you mind sharing VSCode's strategy for consuming TS's LS for single files? Seems the whole TS LS is built based on the assumption of a `workspacePath`.

[2017-04-28 00:21] mjbvz commented on #160
We support the single file case and don't do very much special on our side. When we first tell TypeScript Server about a file, it tries to walk up the file's path to find a `tsconfig` or `jsconfig` that owns the file. Behind the scenes, I believe it then loads the entire project. This is why workspace symbol search will return results outside of the single file that is actually open

We really don

[2017-04-28 01:19] jin9999 opened #166 "Connection to server got closed. TypeError: Cannot read property 'get' of undefined"
[Info  - 上午9:17:16] Connection to server got closed. Server will restart.
C:\Users\zhangjinhong\.vscode\extensions\octref.vetur-0.6.4\client\server\node_modules\typescript\lib\typescript.js:23318
                var symbol = container.locals.get(node.text);
                                             ^

TypeError: Cannot read property 'get' of undefined
    at isNameOfExportsOrModuleExportsAliasD

[2017-04-28 01:32] exonuclease commented on #164
448
/home/guoyifan/projects/sswift/accountactivation.js
/home/guoyifan/projects/sswift/devServer.js
/home/guoyifan/projects/sswift/global.js
/home/guoyifan/projects/sswift/login.js
/home/guoyifan/projects/sswift/postcss.config.js
/home/guoyifan/projects/sswift/ss-create-newoffer-approve.js
/home/guoyifan/projects/sswift/ss-create.js
/home/guoyifan/projects/sswift/ss-newoffer.js
/home/guoyifan/proj

[2017-04-28 02:01] SirM2z commented on #147
I am also experiencing this issue.

[2017-04-28 14:36] octref commented on #155
And it works!
I'm not sure how adding that will affect normal typescript compilation / the webpack build though.

By `src/**/*.ts`, you were saying "only include ts files under /src". `src/**/*` or `src` should work for you.

By default (without `tsconfig.json` or only with `exlucdes` in `tsconfig.json`), then it includes all files in your folder so this bug would not happen.

[2017-04-28 14:36] #155 closed

[2017-04-28 14:38] octref commented on #147
@ppasieka Glad you figured it out. Yes if you are using `tsconfig.json`, you should either

- Have no `include`. This includes every source file in your folder except those in `exclude`
- Make sure all vue files will be inside `include`

[2017-04-28 14:40] octref commented on #147
Let me add a detection and information dialog instead of crashing.

[2017-04-29 16:27] Trim21 opened #167 "sorry for fault"

[2017-04-29 16:28] #167 closed

[2017-05-01 06:20] octref commented on #166
Do you have a tsconfig/jsconfig in your project? If so can you share it with me?

[2017-05-01 08:36] SzHeJason commented on #152
+1
vsCode/Vetur version is latest
output error :
![image](https://cloud.githubusercontent.com/assets/20609396/25575663/eb229ee2-2e8b-11e7-915b-715bdd5fee1a.png)

[2017-05-01 09:10] #134 closed

[2017-05-01 09:10] #152 closed

[2017-05-01 09:10] octref commented on #134
Fix wil be in 0.6.5.

[2017-05-01 09:10] octref commented on #152
Fix will be available in 0.6.5.

[2017-05-01 09:21] octref commented on #127
There are fix for both `vue-template-compiler` and high CPU usage in 0.6.4. Feel free to open a new issue if this happens again.

[2017-05-01 09:21] #127 closed

[2017-05-01 09:39] Xcorpio commented on #166
I got the same issue:
**The Vue Language Server server crashed 5 times in the last 3 minutes. The server will not be restarted.**
Here is the log:
[code]
My `tsconfig.json` file:
[code]

[2017-05-01 12:40] HerringtonDarkholme opened #168 "[Suggestion]: separate vetur server to a standalone package"
Vetur is a great vscode plugin. And its implementation has already in par with language server protocol.

It would be even greater if server code can be separated into a standalone package so other editor users can share this great language service via language service client.

[2017-05-01 13:02] octref commented on #166
Try to include all your vue files in the `include` in your `tsconfig.json` or `jsconfig.json`.

Either

[code]

or

[code]

[2017-05-01 13:03] octref commented on #113
Should be fixed with the current master -- will do a release 0.6.5 soon.

[2017-05-01 13:03] #113 closed

[2017-05-01 13:05] octref opened #169 "Doc for setting up jsconfig / tsconfig"
Many people are not including vue files and having errors.

[2017-05-01 13:07] octref commented on #168
Never really took time to move stuff to [vls](https://github.com/octref/vls).

Will look into doing it while doing #145 this weekend.

[2017-05-01 14:52] timeu opened #170 "Linting support for typescript"
I am not sure, if this issue belongs here or rather in [vscode-tslint](https://github.com/Microsoft/vscode-tslint), but is there anyway to add support for linting typescript script blocks (`<script lang="ts">`) in single file vue components (similar to what is possible with eslint?) or is there any workaround ?

In my current webpack setup, I managed to get linting to work from the command line wh

[2017-05-01 17:40] #163 closed

[2017-05-01 17:44] octref commented on #170
Do you have an example project where I can test it?

If you can get linting to work on CLI I should be able to surface the errors to VSCode.

[2017-05-01 17:50] octref commented on #164
I'll do lazy module resolution which should solve your problem and some other problems.

[2017-05-01 17:53] octref commented on #137
Any updates? Still happening to you w/ newest version?

[2017-05-01 20:19] danikane commented on #123
Getting this at 0.6.4:
[code]

[2017-05-01 20:34] octref commented on #123
@danikane https://github.com/octref/vetur/issues/166#issuecomment-298330152

[2017-05-01 20:40] danikane commented on #123
Thanks, will try! :)

[2017-05-01 22:10] timeu commented on #170
I created a [repo](https://github.com/timeu/vue-typescript-linting) based on vue-cli's official webpack-simple template and replaced javascript with typescript using the `vue-loader` together with the `ts-loader` and `tslint-loader`.

To re-produce:
[code]
You also need typescrpt and tslint installed globally.
If you run `npm run build` you will see some warnings from tslint for `main.ts` and the

[2017-05-01 23:09] TheDutchCoder commented on #166
Please re-open this issue, I'm getting this error since a couple of days as well and I'm not even using typescript.

[code]

[2017-05-02 00:52] octref commented on #166
@TheDutchCoder Do you have a very large project? Or does your project include libraries such as jquery.min.js or bootstrap.min.js etc?

Try https://github.com/octref/vetur/issues/164#issuecomment-297864778 and let me know the output.

[2017-05-02 00:56] TheDutchCoder commented on #166
Nope, in fact a fairly small project, though a big repo where it resides.
I also have no external luibs aside from lodash.

[2017-05-02 01:09] octref commented on #166
Then can you try the method I posted above? It'll show the files that vetur is trying to do module resolution on.

[2017-05-02 02:21] xandeer opened #171 "Connection to server got closed. Maximum call stack size exceeded"
[code]

OS: macOS 10.12.4
VSCode: 1.11.2

[2017-05-02 05:22] exonuclease commented on #164
@octref I'm waitting for it.Thanks.

[2017-05-02 05:44] ppasieka commented on #170
I'm not sure if this is supported by tslint. At least not yet.

https://github.com/palantir/tslint/issues/2099

[2017-05-02 06:02] timeu commented on #170
@ppasieka: tslint works fine for .vue files in the command line with [this setup](https://github.com/palantir/tslint/issues/2099#issuecomment-292524819). The problem is that those lint errors are not surfaced/displayed in visual studio code.

[2017-05-02 06:35] Ringes opened #172 "0.6.4 The Vue Language Server server crashed 5 times in the last 3 minutes. The server will not be restarted."
Still getting this error in 0.6.4. Using Vue and Typescript. This is the error:

Error: Could not find file: 'c:\Users\Maringa\Source\Repos\Nuke\Nuke\src\components\Metadata\MetadataItemDetail.vue'.
    at getValidSourceFile (C:\Users\Maringa\.vscode\extensions\octref.vetur-0.6.4\client\server\node_modules\typescript\lib\typescript.js:84996:23)
    at Object.getSyntacticDiagnostics (C:\Users\Marin

[2017-05-02 07:11] MWallin commented on #127
Sorry for the absence.

I just tried the latest version, 0.6.4, with color components and no luck, the language server crashes again.

[code]

Something is definetly not working right. But since it depends on the project I don't think its that big of a deal?

[2017-05-02 07:11] gpopovic commented on #127
@MWallin  i'm also getting the same error

[2017-05-02 08:50] ppasieka commented on #172
try to set
`
    "include": [
	"src/**/*.ts",
	"src/**/*.vue"
    ]
`
inside your tsconfig.json file

[2017-05-02 09:48] Ringes commented on #172
Thanks very much, that has resolved the issue

[2017-05-02 09:48] #172 closed

[2017-05-02 10:16] octref commented on #171
https://github.com/octref/vetur/issues/166#issuecomment-298330152

[2017-05-02 10:17] octref commented on #127
@MWallin @gpopovic https://github.com/octref/vetur/issues/166#issuecomment-298330152

[2017-05-02 12:52] #147 closed

[2017-05-02 12:52] #166 closed

[2017-05-02 12:52] #169 closed

[2017-05-02 12:54] octref commented on #159
Let me look into that. Meanwhile, adding `import Router from 'vue-router'` seems to work, but that's less than ideal...

[2017-05-02 12:55] octref opened #173 "Show information dialog if current textDocument is not included in js/ts LS"

[2017-05-02 12:57] octref commented on #140
I'll track this in #159.

[2017-05-02 12:57] #140 closed

[2017-05-02 13:09] TheDutchCoder commented on #166
There's 949 files that your extension is parsing through and there are large libraries in there like jQuery

[2017-05-02 13:26] octref commented on #166
@TheDutchCoder That'll be solved by #164. You can subscribe to it for progress.

[2017-05-02 13:31] octref commented on #166
@TheDutchCoder BTW, anything in that 949 files that's under `node_modules`?

[2017-05-02 13:32] romandragan commented on #170
@timeu, do you have TSLint `no-consecutive-blank-lines` error for .vue files in your repo? Cause with my proposed configuration, I have...

[2017-05-02 13:47] timeu commented on #170
@romandragan yeah I have the same issue with `no-consecutive-blank-lines`, but I guess this is independent of this issue.

[2017-05-02 13:48] TheDutchCoder commented on #166
Nope it doesn't seem to resolve anything from the `node_modules` directories, so just project files in this case.

[2017-05-02 14:11] octref commented on #170
Actually I'm planning to have better integration between vetur and eslint/tslint by just sending the js/ts region to eslint/tslint and add padding to the errors position. vetur already divides Vue SFC into multiple regions so it has this info.

[2017-05-02 20:33] jonthegiant commented on #137
Haven't had a chance to test it properly yet. I'll ping you back as soon as I know more.

[2017-05-02 20:50] guzz commented on #122
I´m also having this problem in a project created from vue-browserify template...

[2017-05-03 06:13] xandeer commented on #171
[code]

I added a jsconfig.json, but nothing changed.

[2017-05-03 07:27] octref commented on #171
Can you try https://github.com/octref/vetur/issues/164#issuecomment-297864778 and let me know the output?

[2017-05-03 09:46] proehlen commented on #172
I started getting the same error after just upgrading to the latest version however I'm not using Typescript so don't have a `tsconfig.json` file.  My project is a standard javascript/node/electron project.  Any ideas what I can do to fix this?

[2017-05-03 17:28] octref opened #174 "Update grammar to better accommodate embedded languages"
https://github.com/Microsoft/vscode/issues/20488#issuecomment-298704169

[2017-05-03 17:38] csicky commented on #99
@octref  Please don't forget about this :)

[2017-05-04 03:08] icehaunter opened #175 "Constant errors on 0.6.4 with textDocument/completion failed."
On some lines, on each edit VS Code displays this error again and again:
[Error - 6:06:35 AM] Request textDocument/completion failed.
  Message: Request textDocument/completion failed with message: Cannot read property 'parameters' of undefined
  Code: -32603
[Error - 6:06:36 AM] Request textDocument/completion failed.
  Message: Request textDocument/completion failed with message: Cannot read pro

[2017-05-04 07:56] pdanpdan opened #176 "Use js/ts formatting options from general config"
In VSCode there are already settings for js/ts formatting under javascript.format.* and typescript.format.*.
Can you please use these as defaults?

[code]

[2017-05-04 10:11] xandeer commented on #171
[code]

Thank you.

[2017-05-04 10:57] THaGKI9 opened #177 "Language server crashes because of 'Could not find file'"
Recently I have to use some vue-like single component file, but its extension name is '.wpy' but not '.vue',
vetur works perfect for '.wpy' in the past and I don't know when it starts to crash but I just cannot use it for '.wpy' and here's is the log.

[2017-05-04 11:10] THaGKI9 commented on #177
vetur: 0.6.4
vscode: 1.11.2

[2017-05-04 12:29] syaka-yin commented on #175
I got the same error
![bug](https://cloud.githubusercontent.com/assets/4370991/25703425/1d809e1a-3108-11e7-9885-e985ab5cd92e.png)
actually, the file `/Users/yinjun/project/card/src/components/card.vue` is exist

[2017-05-04 13:06] cubodehelio commented on #134
I'm experiencing the same issue when copy in `0.6.4`

[2017-05-04 14:02] octref commented on #177
You can try adding wpy files to your jsconfig / tsconfig like this:

![image](https://cloud.githubusercontent.com/assets/4033249/25707191/c80d2b08-30b0-11e7-8550-b27f380371c3.png)

But there wpy files are not supported right now.

[2017-05-04 14:02] #177 closed

[2017-05-04 14:07] octref commented on #176
https://github.com/octref/vetur/blob/master/docs/formatting.md#jsts

I'd like to keep vetur's setting minimal. All these settings are set with reasonable defaults.
Which one do you want to be able to change?

[2017-05-04 14:15] pdanpdan commented on #176
Hello.

I don't want to change any of them in vue/vetur.
I would just want vetur to respect the settings from VSCode (the ones that are already set in settings under typescript.format.* or javascript.format.*).

[2017-05-04 15:50] THaGKI9 commented on #177
Your solution doesn't work...
I know vetur does not officially support any wpy files but actually the format of wpy file is just like vue single component file[template+style+script].So I  associate *.wpy file with vue by modifying `setting.json`.

Vetur works perfect in the past but I don't remember the version. what happens to the update...

[2017-05-04 16:27] octref commented on #177
Try downloading 0.5.6 here https://github.com/octref/vetur/issues/136#issue-223411869 and don't upgrade. I'll think about adding wpy support.

[2017-05-04 18:09] ppasieka commented on #175
@syaka-yin check if in your tsconfig.json / jsconfig.json file you include vue files

https://github.com/octref/vetur#setup

https://code.visualstudio.com/docs/languages/jsconfig

[2017-05-04 19:17] jonthegiant commented on #137
@octref 0.6.4 seemed stable for the past few days. The extension host hasn't crashed.

I did however receive this error for the first time today, I just recently updated to VSCode 1.12:
[code]

[2017-05-04 19:18] chrisnicola opened #178 "Support for Flow"
I'm trying this out with my project which uses flow for Vue components. Currently flow is enabled by adding `// @flow` to the top of the `<script>` tag. I also use the Flow ESLint plugins so I do get flow errors/warnings through the ESLint plugin.

Unfortunately I'm also getting Javascript validation errors like:

[code]

There doesn't seem to be a way to turn off Javascript validation in Vue file

[2017-05-04 20:21] octref commented on #137
@jonthegiant Were you opening a single file? Might be #160.

Closing this issue as it seems to be fixed.

[2017-05-04 20:21] #137 closed

[2017-05-04 21:51] jonthegiant commented on #137
Yep, should have stated that, sorry.

[2017-05-04 23:24] octref commented on #137
No worries, I'll fix that this week too.

[2017-05-05 03:24] HADB commented on #99
Something goes wrong when set "vetur.format.html.wrap_attributes" to "force-expand-multiline".
<img width="575" alt="qq20170505-112052 2x" src="https://cloud.githubusercontent.com/assets/1836701/25732733/5d043362-3185-11e7-8dff-b9804bfe5075.png">

[2017-05-05 08:02] Moerj commented on #134
@ @octref 你的0.6.5版本多久来啊

[2017-05-05 15:16] octref commented on #175
Published 0.6.5 including the fix.

[2017-05-05 15:16] #175 closed

[2017-05-05 15:21] octref commented on #99
@HADB Can you try again with 0.6.5. Or post the code.

@adamgoose Your problem is fixed with 0.6.5.

@cangzhang The original issue is not resolved yet due to js-beautify's bug.

[2017-05-05 15:25] octref commented on #134
Published a few minutes ago.

[2017-05-05 15:32] octref opened #179 "Add option to disable validation for certain regions"

[2017-05-05 15:33] octref commented on #153
When using postcss, you should use `<style lang="postcss">` otherwise there is no way for me to tell what's inside the style tag.

Disable validation for certain region is tracked in #179.

I should really take time to finish my PR for https://github.com/vuejs/vue-loader/issues/680...

[2017-05-05 15:33] #153 closed

[2017-05-05 15:36] octref commented on #178
No specific support for flow is planned, but I'll add options to disable validation for specific regions. Tracked in #179.

[2017-05-05 15:36] #178 closed

[2017-05-05 15:39] octref commented on #176
That's a strange way it would work. I'm not interested in that.

If there is specific js formatting settings you'd like to be able to tweak, open a new issue.
In the long term I'm looking into adopting better formatters like https://github.com/prettier/prettier

[2017-05-05 15:39] #176 closed

[2017-05-05 16:15] octref commented on #108
Tracked in #179.

[2017-05-05 16:15] #108 closed

[2017-05-05 16:16] octref commented on #100
Think that's fixed in 0.6.5.

[2017-05-05 17:48] chrisnicola commented on #178
Thanks that would work perfectly. The ESLint integration for flow is sufficient for my needs for now. One advantage of supporting flow eventually might be improved completion.

[2017-05-06 00:58] kimixu717 opened #180 "don't work in windows PC"
try in 2 PCs, don't work anyway.
install and write, just don't work!

[2017-05-06 01:09] octref commented on #180
If there is no more info you can provide, like what kind of error you have, I can't help you.

[2017-05-06 01:09] #180 closed

[2017-05-06 01:29] cynecx opened #181 "JS-IntelliSense Hover Information are gone after 0.6.5"
After updating to vetur 0.6.5, type information aren't available anymore when hovered over a symbol.
This happens only in *.vue files. It worked perfectly before.

[2017-05-06 02:06] topul opened #182 "0.6.4 crashed when single vue component opened"
.vscode\extensions\octref.vetur-0.6.4\client\server\node_modules\typescript\lib\typescript.js:23318
                var symbol = container.locals.get(node.text);
                                             ^

TypeError: Cannot read property 'get' of undefined
    at isNameOfExportsOrModuleExportsAliasDeclaration (C:\Users\kingdee\.vscode\extensions\octref.vetur-0.6.4\client\server\node_modules\ty

[2017-05-06 02:09] topul commented on #182
update to 0.6.5, this problem gone

[2017-05-06 02:09] #182 closed

[2017-05-06 05:28] octref commented on #181
For files not included in your jsconfig/tsconfig, vetur no longer adds IntelliSense.

See https://github.com/octref/vetur#setup

[2017-05-06 15:14] octref commented on #181
Oops sorry I was sleepy and read it wrong.

[2017-05-06 15:16] #181 closed

[2017-05-06 15:18] octref commented on #181
Try 0.6.6.

[2017-05-06 17:31] cynecx commented on #181
@octref Thank you. It works fine now.

[2017-05-07 01:08] cannap opened #183 "no longer working on Windows"
HI, i just updated to 0.6.6 and now the language server does no more start
node v7.9.0
vscode 1.12.1
Windows 10 64bit
i have no other vue or html plugins installed
what i have is numso.prettier-standard-vscode
0.6.5 worked fine and i dont have a ts / js config

no console errors in devtool

thx for this awesome plugin 💃
here is a screen from my sturcture
https://i.gyazo.com/2aef2ac643f7adcf69c1181

[2017-05-07 01:19] octref commented on #183
Any error log? What do you mean by "now the language server does no more start"?

0.6.5 and 0.6.6 should be almost identical.

[2017-05-07 01:29] cannap commented on #183
i downgraded to 0.6.5 same not sure its my project stucture when i open a single vue files it works :/

[2017-05-07 01:38] cannap commented on #183
When i open single file the server say

0.6.6
[code]

[2017-05-07 01:40] NaccOll commented on #183
I have a trouble in .vue file. The code format and  IntelliSense can't work. But it work in router/index.js.

node v7.9.0
vscode 1.12.1
Windows 10 64bit

[2017-05-07 01:51] octref commented on #183
This is probably Windows specific in path handling. @cannap With 0.6.5 I'm guess you are still not seeing any IntelliSense for your Vue project (not single file), right?

[2017-05-07 01:52] octref commented on #180
This is a Windows specific bug. You can subscribe to #183 for updates.

[2017-05-07 01:55] cannap commented on #183
@octref yes damn i know it worked some times  :D

[2017-05-07 02:06] octref commented on #183
@cannap Can you help me identify what's wrong so I can fix it?

- Go to `C:\Users\marko\.vscode\extensions\octref.vetur-0.6.6\client\server\modes\javascriptMode.js`
- Find line 146, which should look like this:
  ![image](https://cloud.githubusercontent.com/assets/4033249/25777318/ec1df93e-32a7-11e7-9928-6732d320b896.png)
- Before `return { isIncomplete: false, items: [] };`, add these two lines:

[2017-05-07 02:18] cannap commented on #183
it never reacht this

https://gyazo.com/6b9fda37753995da33f50707384f2f81

[2017-05-07 02:26] octref commented on #183
Interesting...It's not the bug I thought it was.
I do have a Windows machine. Let me test on it later today.

[2017-05-07 02:36] NaccOll commented on #183
@octref
I add the code based on your information. The screen will be shown as follows:
![https://gyazo.com/dbe638f66ae7339d64676c9424db9f08](https://i.gyazo.com/dbe638f66ae7339d64676c9424db9f08.png)

[2017-05-07 03:24] octref commented on #183
@NaccOll Yep that's the problem. I didn't handle filename for Windows. Thanks a lot!

[2017-05-07 12:29] Moerj opened #184 "[0.6.6]Multiple css/js suggest"
![qq20170507-202150 2x](https://cloud.githubusercontent.com/assets/13795438/25780921/78265b0e-3363-11e7-81eb-86b0c710759f.jpg)
![qq20170507-202205 2x](https://cloud.githubusercontent.com/assets/13795438/25780923/7ee54040-3363-11e7-9698-0c2dbee70cb0.jpg)
![qq20170507-202220 2x](https://cloud.githubusercontent.com/assets/13795438/25780924/82d54b3c-3363-11e7-99b3-197155f32da6.jpg)

When i write scss

[2017-05-07 13:12] octref commented on #184
Does this happen consistently?

![image](https://cloud.githubusercontent.com/assets/4033249/25781242/2e81fd4a-3305-11e7-943c-2be82bedc825.png)

Do you have a small project where I can repro the bug?

[2017-05-07 13:14] Moerj commented on #184
Occasional, sometimes normal

[2017-05-07 13:21] octref commented on #184
Let me know if you this happens to you again on a project that you can share with me.
I'll see what I can do. I can try to filter IntelliSense results, hopefully that wouldn't be too costly in terms of performance.

[2017-05-07 13:27] cannap commented on #184
i had the same as vetur was working on windows 10 :D

[2017-05-07 16:46] octref commented on #184
I'm guessing this happens when `jsLanguageService` is being recreated due to using a mix of TS and JS.
Are you guys working on a TS/JS mix project?

[2017-05-07 16:55] Moerj commented on #184
No. I only use *.js

[2017-05-07 16:57] octref commented on #184
[vetur-0.6.6.vsix.zip](https://github.com/octref/vetur/files/981760/vetur-0.6.6.vsix.zip)

@Moerj Can you try installing this version and see if that happens again?

[2017-05-08 01:04] octref opened #185 "Split typescriptMode away from javascriptMode"

[2017-05-08 01:19] octref commented on #184
NVM I found the bug.

[2017-05-08 01:20] #179 closed

[2017-05-08 01:21] octref commented on #178
`vetur.validation.script` and `vetur.validation.style` will be available in next release.

[2017-05-08 01:21] octref commented on #153
`vetur.validation.script` and `vetur.validation.style` will be available in next release.

[2017-05-08 01:21] octref commented on #108
`vetur.validation.script` and `vetur.validation.style` will be available in next release.

[2017-05-08 04:19] qiansen1386 commented on #183
@octref Sorry to bother you, but could you please publish a patch as soon as possible? 🙏

[2017-05-08 04:28] octref commented on #183
This is already fixed and will published in 0.6.7. However MarketPlace's server seems to be down now and I can't publish.

[2017-05-08 04:42] octref commented on #183
It's published. Let me know if there it doesn't work with Windows.

[2017-05-08 04:43] zjuwjf opened #186 "Could not to format script part in vue."
It worked in html, css parts, but couldn't  format for the script part in vue.

Any one who has the same problem?

[2017-05-08 04:52] zjuwjf commented on #186
now I update vetur to 0.6.7 for Windows
I got errors.

vetur initialized
C:\Users\zju_wjf\.vscode\extensions\octref.vetur-0.6.7\client\server\node_modules\typescript\lib\typescript.js:85887
                throw new Error("Could not find file: '" + fileName + "'.");
                ^

Error: Could not find file: '/d:/wjs-git/app-weex/src/page/account-history-detail.vue'.
    at getValidSourceFile

[2017-05-08 04:58] zjuwjf commented on #183
0.6.7 Couldn't work with Windows.
Please publish a new version. @octref

vetur initialized
C:\Users\zju_wjf\.vscode\extensions\octref.vetur-0.6.7\client\server\node_modules\typescript\lib\typescript.js:85887
                throw new Error("Could not find file: '" + fileName + "'.");
                ^

Error: Could not find file: '/d:/wjs-git/app-weex/src/page/account-history-detail.vue'.
    at g

[2017-05-08 05:05] zjuwjf commented on #183
I thought the first character '\' is not needed to describe path for Windows.

[2017-05-08 05:18] grantcarthew commented on #183
I'm getting a server restart error as follows:

[code]

The above error repeats five times in the console then it fails completely.

[2017-05-08 05:33] #183 closed

[2017-05-08 05:33] octref opened #187 "Simplify path handling in javascriptMode"
Too messy now, esp for Windows.

[2017-05-08 05:37] octref commented on #183
Try 0.6.8.

[2017-05-08 05:37] octref commented on #186
Probably due to language server's crash which should be fixed in 0.6.8. See #183 for details.

[2017-05-08 05:37] #186 closed

[2017-05-08 05:44] HADB commented on #99
@octref still not work in 0.6.7.

force-aligned:
[code]

force-expand-multiline:
[code]

[2017-05-08 05:46] octref commented on #99
@HADB Then that's a bug for js-beautify which I can't help much with. force-aligned seems to work well so maybe just stick to it.

[2017-05-08 05:47] HADB commented on #99
@octref OK, thanks

[2017-05-08 05:55] zjuwjf commented on #183
0.6.8 fixed the path bug for Windows.
But still couldn't format for the script part in vue.

[2017-05-08 05:55] HADB commented on #99
@octref Does this problem link to this issue?  https://github.com/beautify-web/js-beautify/issues/1103

[2017-05-08 05:58] octref commented on #183
@zjuwjf For files not included in tsconfig / jsconfig, language features are disabled. But I guess formatting can be provided anyway.

It's fixed in https://github.com/octref/vetur/commit/b695472992ad9dfbd5356cd6235afdced80cfa93 and will be available for the next release.

[2017-05-08 06:07] octref commented on #99
Opened an issue for `force-expand-multiline`: https://github.com/beautify-web/js-beautify/issues/1186

[2017-05-08 06:24] zjuwjf commented on #183
Vetur works fine anyway, except the formatting for js part in vue.

So I add the jsconfig to my project,

jsconfig.json
`{
	"files": ["page/*.we", "page/*.vue", "components/*.we", "components/*.vue"]
}
`

I got a new error

vetur initialized
C:\Users\zju_wjf\.vscode\extensions\octref.vetur-0.6.8\client\server\node_modules\vetur-vls\lib\parser\htmlScanner.js:46
            this.len = source.length;

[2017-05-08 06:26] octref commented on #183
*.we files aren't supported if that's what you are trying to do.

[2017-05-08 06:33] zjuwjf commented on #183
I could rename *.we to *.vue, but the formatting still didn't work.

[2017-05-08 06:36] qiansen1386 commented on #183
@zjuwjf  I tested it on my machine. Once I added a proper `jsconfig.json` file, the formatting works fine again. The output of Vue Language Server is empty.

[2017-05-08 06:45] octref commented on #183
@zjuwjf Can you post a screenshot of your code?

Also, try renaming your project folder & reload the project with VSCode and see if it works. When updating between versions, old language cache stays there.

[2017-05-08 07:10] zjuwjf commented on #183
[img]http://chuantu.biz/t5/81/1494227231x2890171480.png[/img]

I restart VSCode many times.

Formatting worked fine with html/css parts except js part.

I runned my project on Windows machine, and my teammates have the same issue.

[2017-05-08 07:24] zjuwjf commented on #183
I deleted my jsconfig.json & renamed my project & reload my project, It worked!

Thank you very much @octref @qiansen1386

[2017-05-08 08:18] octref opened #188 "vetur 1.0"
It's time to look at 1.0 for vetur.
~~Planning to ship mid June before VueConf.~~
I don't think all these features can be implemented before VueConf, and I'm giving higher prioritization to fix existing issues, especially with Vue language server's crash which can be annoying.
1.0 is probably gonna happen sometime later during summer.

## Grand Picture

- [x] Stable. vetur should be a stable daily

[2017-05-08 09:56] coffeedeveloper opened #189 "syntax highlight bug, when the component name have "template" word"
if the Component named by `template-*`, the editor `script` syntax highlight will out of work.
see the screenshot.
![](http://oap12gnk8.bkt.clouddn.com/vetur-syntax-issue.png)

[2017-05-08 15:06] octref opened #190 "Bring in stylelint and stylefmt for style"
They seem to have best support for linting / formatting css/scss/sass/less/postcss.

[2017-05-08 15:34] mubaidr commented on #121
Does this issue or improvement belongs to this:
Vetur on save converts this code;
[code]
To this
[code]

[2017-05-08 15:35] octref commented on #121
@mubaidr Yes I'm planning to have it before 0.7.

[2017-05-08 15:36] mubaidr commented on #121
@octref Awesome, i was about to create a new issue for the same! Thanks. Waiting for the update.

[2017-05-08 18:31] cubodehelio opened #191 "Vue Language Server Request textDocument/hover failed (v0.6.8)"
I'm having this error repetitively. Seems like the last updates don't fix it.

[code]

[2017-05-08 18:35] octref commented on #191
Did you do this?

![image](https://cloud.githubusercontent.com/assets/4033249/25819332/9fdfca7a-33fb-11e7-86f8-652a35ed5768.png)

[2017-05-08 18:57] cubodehelio commented on #191
ohh! my project is javascript only. Should I need to include `*.ts` anyway?

[2017-05-08 19:38] octref commented on #191
The file you are opening is under `app/**/*.vue`, I suppose?

[2017-05-08 19:44] octref commented on #191
The problem might be you do not have the correct typing dependency installed, and that's causing the signatureHelp failure.

`npm list` or `yarn list` output plz.

[2017-05-08 19:55] rafaelpimpa commented on #191
Same here, vetur v0.6.8 and vscode v1.12.1, do not have ``tsconfig.json`` nor ``jsconfig.json``

``npm list``: https://pastebin.com/raw/8DGMYdPp

[2017-05-08 19:56] cubodehelio commented on #191
This is the output for `npm list`.

[code]

[2017-05-08 20:01] octref commented on #191
OK, it's not dependency problem.

If you have opened this project previously with vetur, it has cache on language files. Can you try to rename the project (or move it to a different path), and see if it still crashes?

[2017-05-08 20:08] rafaelpimpa commented on #191
Any way to remove the cache folder only?

[2017-05-08 20:12] octref commented on #191
@rafaelpimpa Does that solve the crash?

There is no easy way to do that. You can rename -> reopen in VSCode -> name it back -> open again. I'll try to find a workaround...

[2017-05-08 20:19] cubodehelio commented on #191
So far so good :D I'm still testing..

[2017-05-08 20:20] cubodehelio commented on #191
mmm nope

[code]

[2017-05-08 20:25] rafaelpimpa commented on #191
``rename -> reopen in VSCode -> name it back -> open again``
Did this, but the error persists 😢

[code]

[2017-05-08 21:56] octref commented on #191
@cubodehelio If this is just a toy project, do you mind sharing with me on GitHub? I can't repro it using vue's webpack template.

[2017-05-08 22:09] rafaelpimpa commented on #191
Mine is [Buefy](https://github.com/rafaelpimpa/buefy)

[2017-05-08 22:11] cubodehelio commented on #191
Sorry it's not a toy project, but I will try to start a new one tomorrow just as I did this one to see if I can reproduce it and in that case a will share it with you. Thank you!

May be @rafaelpimpa can help on this. @rafaelpimpa does your project includes the `jsconfig.json` or the `tsconfig.json`? as far as a understand this is necessary

[2017-05-08 22:40] grantcarthew commented on #183
0.6.8 fixed it for me thanks. It wasn't available yesterday.

[2017-05-09 02:40] Youdaman commented on #160
I'm also having this issue each time I open a .vue file -- is there any fix/workaround?

I don't mind clicking the close icon on the console that pops up but it'd be nice to not have to :)

[2017-05-09 05:05] NaccOll opened #192 "Vetur can't work in a new file."
## Env

- VSCode Version: 1.12.1
- OS Version: Windows 10 64bit
- Node Version
- Vetur Version: 0.6.8

## Problem

Vetur can't work in a new file.

## Steps to Reproduce
1.
[code]
2.
[code]
3.
[code]
4. create a new file named Test.vue in /src/components/
[code]
5. IntelliSense can't work
[![https://gyazo.com/584ccd53a53737917ab12081332d4ad4](https://i.gyazo.com/584ccd53a53737917ab12081332d4ad4.pn

[2017-05-09 08:21] octref commented on #192
Good find. Thanks!

Btw, which theme are you using?

[2017-05-09 08:26] NaccOll commented on #192
@octref
Quiet Light

[2017-05-09 09:33] Moerj opened #193 "Symlink node_modules will take up very high memory and cpu"
![qq20170509-171414](https://cloud.githubusercontent.com/assets/13795438/25844439/133bd3e2-34dd-11e7-8f5e-3058912dbc62.jpg)
![qq20170509-172658](https://cloud.githubusercontent.com/assets/13795438/25844449/1a0de8c2-34dd-11e7-9db3-a9c34ad6888c.jpg)

It take my very high memory and cpu.😱
This is not the case before.

And when I disable it...

![qq20170509-172512](https://cloud.githubusercontent.com/

[2017-05-09 09:35] octref commented on #193
Dup of #164.

[2017-05-09 09:42] Moerj commented on #193
@octref
In other words, wait for the new version to solve this problem?

[2017-05-09 09:46] octref commented on #103
We have something even better for TS.